[2017-04-12 19:13] xiaomi7732 opened #4 "Build a good README.md"
- Add badge for both rolling build and nightly build
- Add get started section
- Add contribution section

[2017-04-12 20:38] xiaomi7732 opened #6 "KubeHttpClient should implement IDisposable"
Because it holds an instance of KubeHttpClient, which implements IDisposable.

[2017-04-12 21:43] xiaomi7732 opened #7 "Take advantage of EventSource to handle exception for this library"
When fail gracefully, there still should be trace to figure out what happened

[2017-04-12 21:44] xiaomi7732 opened #8 "Investigate using watch API to refresh properties on K8sEnvironments"

[2017-04-13 18:23] xiaomi7732 opened #10 "Sign instruction doesn't match the updated assembly name"
The sign instruction is using the old assembly name.

[2017-04-13 20:16] #6 closed, assigned to xiaomi7732

[2017-04-13 20:16] #10 closed, assigned to xiaomi7732

[2017-04-13 21:51] xiaomi7732 opened #13 "Investigate lower the netstandard version to 1.3"
Microsoft.ASPNETCore has a dependency on .NETStandard 1.3. We shall align with the lowest possible.

[2017-04-14 17:09] #13 closed, assigned to xiaomi7732

[2017-04-14 17:18] xiaomi7732 opened #15 "Add file headers to all the source code"

[2017-04-14 20:48] xiaomi7732 opened #16 "IK8sEnvironment is not correctly injected"
After the refactor, K8sEnvornment is injected while IK8sEnvironment is required.

[2017-04-14 21:40] #16 closed, assigned to xiaomi7732

[2017-04-17 04:23] xiaomi7732 opened #18 "When no replica involves, the parent of pod is not ReplicaSet"
- Check the spec of possible parents.
- Handle different parents.

[2017-04-17 18:13] xiaomi7732 opened #19 "2/3 of K8s properties lost"
For example, there are 4 entries missing in the following table:
![image](https://cloud.githubusercontent.com/assets/3674549/25098817/ce8359ee-235e-11e7-8493-12c7147802b0.png)

[2017-04-17 22:04] #19 closed, assigned to xiaomi7732

[2017-04-20 19:11] #18 closed, assigned to xiaomi7732

[2017-04-20 19:13] xiaomi7732 opened #20 "Support other parent reference object than replicaSet for pod"
For now, only replica set is supported as the reference owner. Add support for other types for backward compatibility.

[2017-04-20 19:21] #15 closed, assigned to xiaomi7732

[2017-04-20 21:12] xiaomi7732 opened #22 "Pull solution file to the root of the repo"
This will easy the restore process.

[2017-04-20 21:17] #22 closed, assigned to xiaomi7732

[2017-04-22 00:14] #4 closed, assigned to xiaomi7732

[2017-04-22 01:58] xiaomi7732 opened #23 "Investigate to see if we can lower the requirement for NetStandardLibrary"
We are currently reference the NetstandardLibrary 1.6.1. See if we can lower the criteria.

[2017-04-24 17:29] xiaomi7732 opened #24 "Give the project a new name"
aikubequery looks more like a codename. Let's give the project a new name like: ApplicationInsights.Kubernetes.

Verify the building system is still OK with the naming change.

[2017-04-24 18:33] #7 closed, assigned to xiaomi7732

[2017-04-24 18:44] #23 closed, assigned to xiaomi7732

[2017-04-24 18:56] #24 closed, assigned to xiaomi7732

[2017-04-24 19:02] xiaomi7732 opened #27 "LogTrace when telemetry object is updated"
When logging is enabled to TraceLevel, developer can see telemetry details manipulated by KubernetesTelemetryInitializer.

[2017-04-24 19:14] #27 closed, assigned to xiaomi7732

[2017-04-24 19:21] xiaomi7732 opened #29 "Telemetry Initializer is not appended the correct way"
Refer http://www.apmtips.com/blog/2014/12/01/telemetry-initializers/.

[2017-04-26 04:59] #29 closed, assigned to xiaomi7732

[2017-04-26 05:03] xiaomi7732 opened #31 "Verify the telemetry initializer logic"
When the data exists on the telemetry object already, is the last hit win or the first hit win? Refer to other telemetry initializers and fix when necessary.

[2017-04-26 06:15] xiaomi7732 opened #32 "Finish the wiki page of self-diagnostic for ApplicationInsights.Kubernetes"
https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/%5BDRAFT%5D%5BAdvanced%5D-How-to-enable-logging-for-ApplicationInsights.Kubernetes

[2017-04-26 21:33] xiaomi7732 opened #33 "Verify the this package works with AI.NETCore SDK 2.1.0-beta2"
https://www.myget.org/feed/applicationinsights/package/nuget/Microsoft.ApplicationInsights.AspNetCore/2.1.0-beta2

[2017-04-26 22:10] xiaomi7732 opened #34 "Verify DepenencyCollector is auto enabled for .NETCore app"
After AI.NETCore SDK 2.1-beta2, we should have dependency collector enabled by default. Verify that. If that is the case, update the wiki to remove the step of enabling it.

Refer [issue 401](https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/401) for the change.

[2017-04-27 20:29] #31 closed, assigned to xiaomi7732

[2017-04-27 21:54] #34 closed, assigned to xiaomi7732

[2017-04-27 21:54] #33 closed, assigned to xiaomi7732

[2017-04-27 22:01] xiaomi7732 opened #36 "Reduce public API surface"
Switch public class / interfaces to internals when not used by other projects.

[2017-04-27 22:39] xiaomi7732 opened #38 "Debug warning is too noisy when same value to the context is set again"
When Telemetry initializer setting the *same value* to the same property worth a trace but not a warning. It would just be much too noisy.

[2017-04-27 22:51] xiaomi7732 opened #39 "Low down the requirement for MS.ApplicationInsights"
It requires >=2.4.0-beta1, verify if we really need anything as new. Fall back to maybe 2.3.0?

[2017-04-27 23:03] #38 closed, assigned to xiaomi7732

[2017-04-27 23:05] xiaomi7732 opened #41 "Show AI.Kubernetes version info in log for debugging"
This helps determine which version of the package is used and helps self-diagnostics.

[2017-04-27 23:15] #41 closed, assigned to xiaomi7732

[2017-04-27 23:30] xiaomi7732 opened #43 "Container id should be exposed in debug than info level for self-diag"
It is expose as info, which should be exposed as debug.

[2017-04-27 23:30] #39 closed, assigned to xiaomi7732

[2017-04-27 23:30] #36 closed, assigned to xiaomi7732

[2017-04-27 23:37] #43 closed, assigned to xiaomi7732

[2017-04-27 23:45] xiaomi7732 opened #46 "Records kubernetes name properties than ids"
In dashboard, in default CLI, they are all names than ids.

[2017-04-28 00:08] #46 closed, assigned to xiaomi7732

[2017-04-28 16:13] xiaomi7732 opened #48 "Review project properties before make the repo public"
Project / License / Image and so on and so forth for the assemblies and nuget packages

[2017-04-28 16:25] xiaomi7732 opened #49 "Investigate exclude http request to K8s proxy being self-tracked"
AI.K8s uses http requests to fetch K8s properties. These http requests are also recorded by AI sdk automatically, which usually is a noise to end user.
Investigate to see if we can provide an option to allow user to opt in these requests when only necessary.

[2017-04-29 17:44] xiaomi7732 opened #50 "Server certificate validation is not used"
Risk of MITM attack.

[2017-04-29 17:46] #50 closed, assigned to xiaomi7732

[2017-05-01 21:29] #32 closed, assigned to xiaomi7732

[2017-05-01 21:37] xiaomi7732 opened #52 "Logger code could be simplified for K8sEnvironment class"
From
[code]
to
[code]

[2017-05-01 22:06] #52 closed, assigned to nobody

[2017-05-02 17:05] xiaomi7732 opened #54 "Simply ms-build properties"
[code]

- [x] Remove the property.
- [x] Provide a better default value for version - maybe include yyyyMMdd that the local package can easily be identified.
- [x] Update CI to set the new variable.

[2017-05-02 17:28] #54 closed, assigned to xiaomi7732

[2017-05-04 18:44] xiaomi7732 opened #56 "ApplicationInsights.Kubernetes initialization has too much dependency on ASP.NET Core and is very unfriendly to pure .NET Core application"
EnableK8s() method assumes IServiceCollection exists, which is not a good assumption for .NET Core app.

[2017-05-04 18:45] xiaomi7732 opened #57 "Verify if 443 is really need to be open for containers to talk with AI backend"
Doesn't make too much sense.

[2017-05-04 21:46] xiaomi7732 opened #59 "Refactor the initialize process"
- [ ] Expose the initializer
- [ ] Allow user to enable AI.K8s before or after user calls UseAI() or registered the service by themselves.

[2017-05-04 22:23] #56 closed, assigned to xiaomi7732

[2017-05-05 02:15] xiaomi7732 opened #61 "Name for the method of EnableK8s()"
In the pull request #60 ,  @nizarq think EnableK8s() is not a good name for API because K8s is not as official as Kubernetes.
Anyone think it bothers or not? Please suggest a better name if you agree. Let's make decision before it goes public - it will be way easier we change it for now.
Suggestion from @nizarq: EnableApplicationInsightsFoKubernetes()

[2017-05-05 02:18] #59 closed, assigned to xiaomi7732

[2017-05-05 17:15] #57 closed, assigned to xiaomi7732

[2017-05-05 17:16] xiaomi7732 opened #63 "Move development instructions into wiki as well"
- [ ] Create a page for development instructions
- [ ] Move the content out of Main page, leaving a link there.

[2017-05-05 18:57] #61 closed, assigned to nobody

[2017-05-05 18:58] #63 closed, assigned to xiaomi7732

[2017-05-05 22:23] xiaomi7732 opened #64 "Remove my alias from codebase"
During the incubation, I have put my alias in the codebase. We'll need to remove them.

[2017-05-08 17:41] #64 closed, assigned to xiaomi7732

[2017-05-08 18:48] xiaomi7732 opened #65 "Update the wiki for getting started to include the nuget packages"
- [x] Nuget package is published.
- [x] Wikis updated.

[2017-05-08 23:59] #65 closed, assigned to xiaomi7732

[2017-05-09 17:31] #48 closed, assigned to xiaomi7732

[2017-05-09 17:33] xiaomi7732 opened #66 "Update package info based on the first release experience"

[2017-05-11 16:42] xiaomi7732 opened #67 "Refactor the list entity"
All list entities can be merged using generics.
- [x] EntityList<T> : IEnumerable<T> should do.
- [x]  In the http client, we accepts parameter like GetAsync<TEntity> serialize the object into EntityList<TEntity>, return it as IEnumerable<TEntity>.

- [x] Unit tests.

[2017-05-23 00:16] alexsandro-xpt opened #68 "Any plan for Swarm Mode?"
Will be awesome.....

[2017-06-01 21:59] xiaomi7732 commented on #68
Thanks for the feedback. Please give me some time to investigate it.

[2017-09-27 04:22] mfaizanse opened #69 "Application Insights Kubernetes failed to start."
I integrated application insights kubernetes plugin in my ASP.NET core web api project and deployed it on a kubernetes, but there was no metrics/stats on app-insights dashboard related to kubernetes. Then I enabled self diagnostics for ApplicationInsights.Kubernetes ([link](https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/%5BAdvanced%5D-How-to-enable-self-diagnostics-for-Applicatio

[2017-09-27 04:46] mfaizanse commented on #69
Update: I tried it on kubernetes 1.5.3 ACS cluster and its working. It means that the plugin is not compatible with latest versions of kubernetes.

[2017-09-27 19:49] brahmnes commented on #69
Cool that you found details on this problem. A quick inspection of the code says it's reading the file /proc/self/cgroup and finding the container id by the line with "cpu" and "docker" in it.
Can you compare /proc/self/cgroup between Kube 1.5.3 and Kube 1.6.6 to see how different they are?

[2017-09-29 22:40] #68 closed

[2017-09-29 22:41] brahmnes commented on #68
There is still a good amount to improve on for Kubernetes, so we probably won't get to Swarm anytime soon.

[2017-10-03 14:07] alexsandro-xpt commented on #68
Ok

[2017-11-16 09:58] mumarniaz opened #70 "Unable to enable self diagnostics for ApplicationInsights.Kubernetes in ASP.NET Core 2.0"
I am trying to configure ApplicationInsights Kubernetes plugin in my ASP.NET Core 2.0 application. I have followed the instructions and deployed the container image to kubernetes cluster (Azure Kubernetes Service with kubernetes 1.8.1 as well as on minikube with kubernetes 1.8.0). But I am unable to get any kubernetes related stats in the app-insights portal. I am trying to enable self diagnostics

[2017-11-16 14:22] d3r3kk commented on #70
Perhaps (as this document is a draft from back in May) [this API has changed](https://github.com/aspnet/Announcements/issues/241). [I found this article ](https://ardalis.com/configuring-aspnet-core-apps-with-webhostbuilder) that suggests that your ConfigureLogging line would be changed to:

    .ConfigureLogging(f => f.AddConsole(), Microsoft.Extensions.Logging.LogLevel.Trace)

... and you can ch

[2017-11-17 10:53] mumarniaz commented on #70
Thanks @d3r3kk
But this won't work because `ConfigureLogging` fucntion is expecting only one parameter of type `Action`

[2017-11-17 17:00] brahmnes commented on #70
In ASP.NET core 2.0, it looks like ConfigureLogging has changed from taking Action<ILoggingFactory> to Action<ILoggingBuilder>.

Here is the new AddConsole method
[https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.consoleloggerextensions.addconsole?view=aspnetcore-2.0#Microsoft_Extensions_Logging_ConsoleLoggerExtensions_AddConsole_Microsoft_Extensions_Logging_ILoggingBuilder

[2017-11-27 21:44] xiaomi7732 opened #72 "Nightly building is failing"
Something related to code analysis. Need to sort out a bit.

[2017-11-28 10:27] PeterRockstars commented on #70
@brahmnes  That doesn't work, as AddConsole(ILoggerFactory, LogLevel) takes an ILoggerFactory, not an ILoggingBuilder..
I'm struggling with the same thing. How do I get to the ILoggerFactory?

[2017-11-28 10:30] PeterRockstars commented on #70
This seems to work, sort-of:
.ConfigureLogging(builder => builder
        .SetMinimumLevel(LogLevel.Trace)
        .AddConsole())

It gives me trace output when I do this:
      public HomeController(ILoggerFactory loggerFactory)
      {
        _logger = loggerFactory.CreateLogger<HomeController>();
        _logger.LogTrace("TRACE");
      }

But it doesn't show any of the App Insights logging sh

[2017-11-28 18:20] brahmnes commented on #70
Did you add the call to UseApplicationInsights()?

[2017-11-29 09:58] PeterRockstars commented on #70
@brahmnes Yes, I did.

It seems that in this line:

`ILoggerFactory loggerFactory = (ILoggerFactory)services.FirstOrDefault(s => s.ServiceType == typeof(ILoggerFactory))?.ImplementationInstance;`

The ImplementationInstance field is null

[2017-11-29 13:31] PeterRockstars opened #73 "HttpGet Readiness Probe causes a deadlock"
I am using https://github.com/dotnet-architecture/HealthChecks.
When an HttpGet Readiness Probe is configured, either Application Insights Kubernetes fails to start, or the pod never gets to Ready.

Steps to reproduce:

add this to deployment.yaml:
[code]
This will cause the pod to be ready after 130 seconds, but the logs show:

When the probe is defined like this:
[code]
the pod never reaches rea

[2017-11-29 19:16] brahmnes commented on #70
Hi Peter,

Application Insights needs to be configured with the LoggerFactory, otherwise ILogger isn't aware of Application Insights. Here is a related post: [https://stackoverflow.com/questions/45022693/using-application-insights-with-iloggerfactory](https://stackoverflow.com/questions/45022693/using-application-insights-with-iloggerfactory)

The extension method AddApplicationInsights is in Micr

[2017-12-11 15:03] SychevIgor opened #74 "When will be beta2 release?"
Hello,
latest release on a nuget was in May 2017. As I can see we have some changes. Maybe it's time to release some beta2 version for dev who already invest sometime and tested this package in their apps  earlier?

[2017-12-11 16:56] brahmnes commented on #74
Agree with you suggestion.
Weill looks at releasing this week or next.

[2018-01-03 21:35] xiaomi7732 commented on #72
Nightly build resolved. Close.

[2018-01-03 21:35] #72 closed

[2018-01-03 21:35] xiaomi7732 commented on #69
#71 should have this fixed.

[2018-01-03 21:35] #69 closed

[2018-01-03 21:42] xiaomi7732 commented on #70
There are break changes in the configuration settings for ASP.NET Core 2.0. We shall update the library to support it better. I'll look into this issue post 1.0.0-beta2

[2018-01-03 21:44] xiaomi7732 commented on #66
Lost context on this issue. Close for now. Reopen when it comes back.

[2018-01-03 21:44] #66 closed

[2018-01-03 21:46] xiaomi7732 commented on #73
@PeterRockstars,
Thanks for the details. We will look into this post 1.0.0-beta2.

[2018-01-03 22:15] xiaomi7732 opened #75 "Multi-targeting .NET Standard 1.3 and .NET Standard 2.0"
Although .NET Standard 2.0 project shall be able to reference .NET Standard 1.3 implementations, it is beneficial to multi-targeting both .NET Standard 1.3 & .NET Standard 2.0 to make use of the new sets of APIs. This need to be done prior to supporting the new configuration settings in ASP.NET Core 2.0 applications.

[2018-01-03 22:36] xiaomi7732 commented on #74
@SychevIgor , please find the beta2 release here:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.0.0-beta2

Thanks!

[2018-01-03 22:36] #74 closed

[2018-01-04 00:06] xiaomi7732 commented on #70
Okay, give it a deep look. There are 2 issues.
1. The instructions to enable self-diagnostics for ApplicationInsights.Kubernetes needs to be updated because of the way config logger provider changes. @PeterRockstars basically nailed the solution. **I'll update the document to reflect the changes.** One side note is that in HomeController, dependency injection upon `ILogger<>` than `ILoggerFactory`

[2018-01-04 09:03] PeterRockstars commented on #70
@xiaomi7732 Thanks for the deep look, glad we got it figured out. And you're absolutely right on point 2, that is what I was looking for.

[2018-01-04 17:23] xiaomi7732 commented on #70
@PeterRockstars Thank you for the confirm!

[2018-01-07 18:50] xiaomi7732 commented on #70
Guys, thanks for raising the issue. The wiki has been updated to provide an example for ASP.NET Core 2.0 Web Apps to enable self-diagnostics.
https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/%5BAdvanced%5D-How-to-enable-self-diagnostics-for-ApplicationInsights.Kubernetes

I am closing this issue since there is no more action could be taken in this repo. Please keep an eye on the is

[2018-01-07 18:50] #70 closed

[2018-01-09 00:29] xiaomi7732 commented on #75
Implementation is in.

[2018-01-09 00:29] #75 closed

[2018-01-10 03:29] raghur opened #78 "Daemonset/sidecar container?"
So at the outset, I have only basic understanding of appinsights's data model. However, I'm currently working on porting a relatively mid sized codebase to .net core with the aim to run it on k8s. Also, I've just landed on your repo from google and a quick read through isn't very informative - however, it did bring up a question.

The question I have is that would it be possible to explore running

[2018-01-10 21:30] xiaomi7732 commented on #73
This issue is fixed and will be released in the next release.

[2018-01-10 21:30] #73 closed

[2018-01-10 21:44] xiaomi7732 commented on #78
@raghur,
Thanks for bringing the question up.

Firstly, let me see if I understand what you are asking here. Are you trying to see if we can host **something** as a service in the sidecar, so that your application throws whatever the events interested to the sidecar? The sidecar handles the communication with application insights server.

If I got that correct, the short answer would be no, we don

[2018-01-11 02:26] xiaomi7732 commented on #67
All issues here are addressed. Close this item.

[2018-01-11 02:26] #67 closed

[2018-01-11 08:03] PeterRockstars commented on #73
Fantastic! Do you know yet when the next release will be?

[2018-01-11 14:10] raghur commented on #78
@xiaomi7732 what I'm trying to as is something like this:

Yes

So one thing that I'd love to see is basically node information (cpu/memory etc) correlated with application events. today to achieve that, I'm relying on what K8S downward api provides (node name etc) to add on as additional kv pairs but the info is limited and I don't want to write any code for that. It'd be great if something like

[2018-01-11 17:44] xiaomi7732 commented on #73
@PeterRockstars,
Thanks for the ask. The next release is due by 1/12/2018. As always, you will find the info here: https://github.com/Microsoft/ApplicationInsights-Kubernetes/milestones

[2018-01-11 23:30] xiaomi7732 opened #80 "Bump up .NET Core 1.x version from 1.3 to 1.6"
The scenario of AI.K8s only works when AI.DependencyCollector 2.4 or above is there. Since AI.DependencyCollector 2.4 targets minimum of .netstandard 1.6, it doesn't make sense for AI.K8s to target framework lower than 1.6.
Besides, at this point, .netstandard 2.0 is available and 1.6 of .netstnadard shall become the stable version of .netstandard 1.x.

[2018-01-11 23:37] xiaomi7732 commented on #80
The dependency of AI.DependencyCollector 2.4 holds true for ASP.NET Core application but is **not** true for .NET Core applications.
A proper way shall be:
.NETStandard 1.3 - no dependency on AI.DependencyCollector
.NETStandard 1.6 - dependent on AI.DependencyCollector
.NETStandard 2.0 - dependent on AI.DependencyCollector
That is still not ideal since non-ASP.NET Core App user shall not automatic

[2018-01-12 00:00] xiaomi7732 commented on #80
Now we support all 3 targets. Will be released in 1.0.0-beta3.

[2018-01-12 00:00] #80 closed

[2018-01-12 00:11] xiaomi7732 opened #82 "Update FxCop version"
The referenced FxCop analyzer is out of date and is causing a lot of warnings. (1000+).
Bump up version to provide better code analysis experience.

[2018-01-12 00:14] xiaomi7732 commented on #82
Addressed.

[2018-01-12 00:14] #82 closed

[2018-01-12 08:02] PeterRockstars commented on #73
So polite! Thanks 👍

[2018-01-16 18:24] xiaomi7732 commented on #78
@raghur, thank you for providing the details.
In short term for this project, we shall be able to provide the CPU/memory info on app events per https://github.com/dotnet/standard/issues/327.

Now, I understand that by itself will not address all your requirements, we are working on to provide more comprehensive solutions, which, I am sorry, I don't have too many details to share at this point. You

[2018-01-19 17:22] xiaomi7732 opened #85 "Investigate using IHostingStartup for ASP.NET 2.0 Core app to inject AI.K8s"
http://kalapos.net/Blog/ShowPost/IHostingStartupInAspNetCore20

[2018-01-27 18:27] xiaomi7732 commented on #78
@raghur Since there will be no further action taken in the foreseeable future, I will close this issue. Please keep an eye on Microsoft's application insights solution for Kubernetes.

[2018-01-27 18:27] #78 closed

[2018-02-01 01:23] xiaomi7732 opened #86 "Use .NETStandard dependency injection (ServiceCollection) to provide all AI.K8s services"

[2018-02-01 02:16] xiaomi7732 commented on #85
- [x]  Doable
- [ ] Add implementation
- [ ] Add instruction

[2018-02-05 18:33] #86 closed

[2018-02-10 01:18] #85 closed

[2018-02-13 02:26] girishgouda opened #91 "Enable Application insights for .net application"
Hi
We want to use the application insights for .net framework web application running in kubernetes

Thanks
Girish

[2018-02-13 22:41] xiaomi7732 commented on #91
@girishgouda,
Thanks for your asking. There are several aspects of the question and depends on your clarification & expectation, the answer differs.

Please help me understand more about your requirements by answering the following questions:
1. Are you running ASP.NET Web Application in a windows container with full .NET Framework? If it is not, could you please explain more about how are you run

[2018-02-14 11:48] girishgouda commented on #91
Following are the comments
1) Yes we want to showcase our customer running full .net framework in kubernets to use application insights

2)Yes -ACS

3)3.5 and 4.5

4)We want to capture the request failed like 400 errors and take action based on that

5) Check any failures and take action based on that

Thanks
Girish

[2018-02-14 17:07] xiaomi7732 commented on #91
@girishgouda Thanks for your info. For traditional ASP.NET Web Application running in Windows Container, I think you shall be able to use Application Insights for .NET directly here:
* https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net.

If you have further question, please file an issue in this github repo:
* https://github.com/Microsoft/ApplicationInsights-dotnet-se

[2018-02-15 02:02] xiaomi7732 commented on #49
Looks like a small amount of work by implementing: https://azure.microsoft.com/en-us/blog/request-filtering-in-application-insights-with-telemetry-processor/

[2018-02-22 10:37] rgovardhms opened #92 "Application Insights with kubernetes on AKS is not sending the data to AppInsights"
Hello,

I have followed the documentation https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/Hosting-startup-for-ApplicationInsights.Kubernetes for configuring AI on K8S but I couldn't see any data being pushed to AppInsights. How do we go about debugging the issue.

[2018-02-23 11:04] rgovardhms commented on #92
I have followed the documentation in the advanced section on how to do self diagnostics. But couldnt get useful information.
Also what is the right value to be used in the deployment.yaml file for ASPNETCORE_HOSTINGSTARTUPASSEMBLIES ? Is it Microsoft.ApplicationInsights.Kubernetes or Microsoft.ApplicationInsights.Kubernetes.HostingStartup ?

[2018-02-23 12:47] khushalpatel1981 commented on #92
Hello @rgovardhms  We are running Application Insights successfully with kubernetes on ACS using

services.EnableKubernetes();

Please check the following doc

ref : https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/Getting-Started-for-ASP.NET-Core-Applications

[2018-02-23 13:05] rgovardhms commented on #92
Thanks @khushalpatel1981 . I can try that as well. But is there any issue with Hosting startup for AI approach? We have planning scenario for which it would be great if the approach I am interested in would work.

[2018-02-23 19:24] xiaomi7732 commented on #92
@rgovardhms Thanks for the feedback. Please use:
[code]
It was a mistake in the document and I've updated the document. Feel free to reply back if that is still not working.

[2018-02-26 14:16] rgovardhms commented on #92
Is it possible to have a chat? You can ping me on microsoft alias - when you search for "Ranganath G"

[2018-02-26 18:17] xiaomi7732 opened #93 "Align the variable name of 'APPINSIGHTS_INSTRUMENTATIONKEY' to provide AI key"
Refer https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/develop/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/ApplicationInsightsExtensions.cs, the use 'APPINSIGHTS_INSTRUMENTATIONKEY' than AI_KEY so that the value will be picked up by application insights.

[2018-02-27 17:19] xiaomi7732 commented on #91
Close this issue since there are no recent activities on this.

[2018-02-27 17:19] #91 closed

[2018-02-27 19:23] xiaomi7732 opened #94 "Put a hard dependency on ApplicationInsights.ASPNet for self-host startup"
Self-host startup only works in ASP.NET Core 2.0. Adding the dependency will making sure the requirement AI component will be available.

[2018-02-27 20:02] xiaomi7732 commented on #92
We trouble shot the issue offline. The issue is the application insights key is not set due to lack of the information in the documentation.
The issue is resolved and we see the result in @rgovardhms's project with the startup-host.
The document has been updated to notice the step as well.

I'll close this issue. Feel free to re-open if more follow up is needed.

[2018-02-27 20:02] #92 closed

[2018-02-28 18:31] xiaomi7732 opened #95 "Add a wiki to describe differences between various application insights products"
Mainly describe the difference between Application Insights & Application Insights for Kubernetes and why we implement it this way.

[2018-02-28 19:31] xiaomi7732 opened #96 "Set proper internal sdk version for telemetry objects"
The current SDK version is general that not providing proper info to trace back to this SDK.

[2018-03-01 18:07] xiaomi7732 opened #97 "Keep the application insights k8s working when the app is not running in K8s environment"
If we could emit some test info instead of totally stop working, it will help debugging.

[2018-03-05 00:47] xiaomi7732 commented on #96
Since we are not providing telemetryClient, it seems the most reasonable place to provide the SDK version is through the the TelemetryInitializer. Reference:
https://github.com/Microsoft/ApplicationInsights-Home/issues/87

[2018-03-07 00:24] xiaomi7732 opened #100 "Too many NaN hit for the CPU rate"
Investigate if the current CPU rate calculation could lead to more than 100%?

[2018-03-11 18:43] xiaomi7732 commented on #95
Updated README.md instead.

[2018-03-11 18:43] #95 closed

[2018-03-11 18:43] xiaomi7732 commented on #93
Investigation: AI_KEY is used only on the wiki pages. I'll update the page instead.

[2018-03-11 18:54] #93 closed

[2018-03-11 19:09] xiaomi7732 commented on #100
CPU time is calculated through sampling. When the sample too close to each other, the elapsed time will be treated as 0 and a CPU percentage can't be calculated.
Close the investigation for now.

[2018-03-11 19:09] #100 closed

[2018-03-12 15:37] #94 closed

[2018-03-13 03:58] #97 closed

[2018-03-13 03:58] #96 closed

[2018-03-25 10:10] andrewconnell opened #104 "Any plans for a Node.js implementation?"
Any plans to ship this for more than just .NET Core? Node.js?

[2018-03-26 16:26] xiaomi7732 commented on #104
@andrewconnell thanks for your question! We don't have a plan for node.js or other languages at this moment. That said, have you check out the [Application Insights for Node.js](https://github.com/Microsoft/ApplicationInsights-node.js)? Will that mean your needs?

[2018-03-27 10:08] andrewconnell commented on #104
Yes... I am already using it. I use Node.js (TypeScript) in my containers and was looking for the same container specific monitoring for an ACS cluster that you have for .NET Core... guess its going to be custom them... thanks.

[2018-03-27 10:08] #104 closed

[2018-04-11 23:42] david-jarman opened #105 "Support Windows Containers"
Using this package in a Windows container will cause the application to throw an exception on startup:

[code]

Since there is no cgroups concept in Windows, the container id must be retrieved a different way. A potential solution for docker containers is to use the "computername" environment variable. It is set to a shortened version of the container id.

[2018-04-12 16:00] xiaomi7732 commented on #105
@david-jarman,
Thank you for the feedback. Getting computer name is part of the formula and there's more after that. If you are interested in code, here the initialization settings is provided:
https://github.com/Microsoft/ApplicationInsights-Kubernetes/blob/develop/src/ApplicationInsights.Kubernetes/K8sHttpClient/KubeHttpClientSettingsProvider.cs

Give me a few days to look into how big the scope

[2018-04-15 02:53] xiaomi7732 commented on #105
@david-jarman I investigated a bit around windows containers on Kubernetes.
I have an issue querying host.
For example, by sending request to: https://10.0.0.1/v1/api/namespace/default/pods within the container, I always got timeout.
Lately, I managed get curl running in the container, can't reach 10.0.0.1 either:
[code]
After all, querying host is the way used to get Kubernetes properties. If the

[2018-04-16 16:12] frankbuckley opened #106 "Exception while initializing Microsoft.ApplicationInsights.Kubernetes.KubernetesTelemetryInitializer"
We are seeing this error repeatedly reported in our telemetry with 1.0.0-beta6:

	AI (Internal): [msg=Log Error];[msg=Exception while initializing Microsoft.ApplicationInsights.Kubernetes.KubernetesTelemetryInitializer, exception message - Newtonsoft.Json.JsonSerializationException: Error getting value from 'HttpMethod' on 'Microsoft.ApplicationInsights.DataContracts.RequestTelemetry'. ---> System

[2018-04-16 20:56] xiaomi7732 commented on #106
@frankbuckley If I understand right, you are seeing the issue but the application insights data is correctly sent and you can see the data in your application insights, right?
Could you please confirm if your log level has been set to 'Trace'?
I believe this is the line of the code causing the trouble:
[code]
Trying to serialize telemetry object with Json.NET is known to cause trouble & I think th

[2018-04-16 21:13] frankbuckley commented on #106
@xiaomi7732 Yes - application insights data is sent from our apps (including additional Kubernetes data), together with the "AI (Internal)" trace. However, no - LogLevel = Warning.

[2018-04-16 23:06] david-jarman commented on #105
I exec'd into one of the windows container pods in my k8s cluster and I was able to retrieve the pod list using the exact url you used (however, I used Invoke-WebRequest in powershell, and I added the authorization header to the request).

[2018-04-17 03:16] xiaomi7732 commented on #106
@frankbuckley Thanks for pointing it out. I didn't realize the exception happens earlier than the logging happens.
Simple reproduce:
[code]
I'll submit a PR for the fix.

[2018-04-17 18:42] xiaomi7732 opened #109 "Follow the application insights pattern to inject the proper module into the service collection"
Details:
https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/develop/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/ApplicationInsightsExtensions.cs

[2018-04-17 23:47] xiaomi7732 opened #110 "Enable signing the NuGet package"
Sign the NuGet package to enhance the security of the package.

[2018-04-18 17:42] david-jarman commented on #105
Thanks! I built the image in your private branch but I got an cast object exception when I ran the image in my cluster:

[code]

[2018-04-19 03:32] xiaomi7732 commented on #105
@david-jarman I have an theory that might fix the issue. Code updated and new test package is uploaded. Could you please give that another shoot:
https://github.com/xiaomi7732/ApplicationInsights-Kubernetes/tree/dev/saars/win-container-1/examples/WindowsContainer
Please making sure the new package is referenced:
[code]

[2018-04-19 13:36] frankbuckley commented on #106
Thanks for the quick fix @xiaomi7732. Are you going to push a fresh build to NuGet?

[2018-04-19 16:14] xiaomi7732 commented on #106
@frankbuckley Yes I will. Per my current priorities, I am thinking about doing that the next week.

[2018-04-24 01:26] david-jarman commented on #105
Looks good from my end. Let me know if you need anything else. Thanks!

[2018-04-25 06:02] xiaomi7732 opened #114 "Investigating adding a method to query Pod by name for perf optimization"
Kudos to @karolz-ms , whom suggested:
In large system, there could be big number of pods.

Plan to investigate to maybe add another overload like: GetPodByName(string Name) to make perf gain and clean up the code in K8sQueryClient.

[2018-04-25 07:07] xiaomi7732 opened #115 "Investigate certification validation"
As pointed out by @karolz-ms in the code review:
The implementation of the certification validation is incorrect.
**Details**
It should be replaced by something like https://github.com/kubernetes-client/csharp/blob/ea62ca00e099571be0e08022c27c44ef5f9392a5/src/KubernetesClient/Kubernetes.ConfigInit.cs
If possible, I would like to replace the whole query library with https://github.com/kubernetes-cl

[2018-04-26 03:46] xiaomi7732 commented on #115
Fix is available and verified.

[2018-04-27 16:33] #105 closed

[2018-04-27 17:15] xiaomi7732 opened #116 "Update document with RBAC authorization"
ACS seems use RBAC as authorization:
https://kubernetes.io/docs/admin/authorization/rbac/

Update document for an example with how to set it up.

[2018-05-01 22:40] david-jarman opened #117 "Support multiple telemetry configurations"
Currently unable to enable the kubernetes initializer for multiple telemetry configurations. This makes it impossible to use this for services that send telemetry to multiple Application Insights instances.

[2018-05-03 02:01] DanielWangZhanggui opened #118 "Seems like just support ASP.NET core and .NET core?"
From the doc description, it seems  like just support ASP.NET core and .NET core? Do we have plan to support other programming languages?

All the best,
Daniel

[2018-05-03 05:02] xiaomi7732 commented on #118
@DanielWangZhanggui Thanks for your inquiry. At this point, only C# is supported.

It won't change the answer but would you please tell us what language support are you looking for?

Thanks!

[2018-05-03 16:36] xiaomi7732 commented on #118
@DanielWangZhanggui Thanks for the clarification.
Unfortunately, this is Application Insights based and is built upon specific languages.
Thanks again for the ask!

[2018-05-03 16:36] #118 closed

[2018-05-09 09:02] junpark12 opened #120 "Application startup exception"
Hi. When i start my asp.net 2.0 core app using this document, i received the following exception.

info: Microsoft.ApplicationInsights.Kubernetes.KubernetesModule[0]
      ApplicationInsights.Kubernetes.Version:ai-k8s:1.0.0.7
Application startup exception: System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
   at System.ThrowHelper.ThrowInvalidOperatio

[2018-05-09 15:09] xiaomi7732 commented on #120
@junpark12 Thanks for reporting this issue. This is not known. Please give me some time to investigate the issue.
I am not familiar with AutofacServiceProvider. Is it a IoC provider that provides all service instances from the asp.net service collection?
Thanks!

[2018-05-09 16:14] xiaomi7732 commented on #120
Oh, as a workaround, could you please try:
[code]

[2018-05-10 01:26] junpark12 commented on #120
@xiaomi7732  it's working like a charm. Thank you for the help :)

[2018-05-10 01:36] xiaomi7732 commented on #120
@junpark12 thanks for the try. 👍
That is just a workaround. I will spend sometime to fix the real issue. I hope you don't mind me reopen this issue for tracking :-)

[2018-05-10 03:04] junpark12 commented on #120
@xiaomi7732  sure. If there are any update , let me know. Thanks.

[2018-05-10 05:02] xiaomi7732 commented on #120
The issue is here:
[code]
Basically, the kubernetesServiceCollectionBuilder is building and injecting the services into the services; However, since it is dispatched onto a different thread, the return of the services collection could/and will happen before all the services are injected. That is a bad practice.

In your code, if I guess correct, when you all `container.Populate(services);`, it wil

[2018-05-11 14:48] xiaomi7732 commented on #117
Released in 1.0.0-beta 8

[2018-05-11 14:48] #117 closed

[2018-05-11 14:48] xiaomi7732 commented on #120
Released in 1.0.0-beta 8

[2018-05-11 14:48] #120 closed

[2018-05-26 02:44] xiaomi7732 opened #121 "Allow AppInsights.Kubernetes to run out of Kubernetes"
Allow this SDK to run in the environment that is not in Kubernetes. This enables one set of user code mixed environment.

[2018-05-28 12:50] waheedhussain opened #122 "FAQ: support for AKS managed service?"
Hi,

Does this SDK support the AKS managed service (link below)? or is it only to be used for Kubernetes on ACS?

https://docs.microsoft.com/en-us/azure/aks/intro-kubernetes

Thanks

[2018-05-28 20:28] xiaomi7732 commented on #122
@waheedhussain Thanks for your question. Application Insights for Kubernets can run in both ACS & AKS with no problem.
As a matter of fact, ACS was our testing environment and now it is AKS.

If there's any specific issue in regarding running application insights for K8s in AKS, please feel free to open new issues.

[2018-05-29 08:20] waheedhussain commented on #122
ok....thanks.....we will start using this with AKS soon so just wanted to double check.

Waheed

[2018-05-29 15:37] xiaomi7732 commented on #122
Thanks for the check. I'll lock this conversation since there's no further action item. Feel free to open new issues.

[2018-07-03 17:16] xiaomi7732 opened #123 "Update document - linking to Profiler"

[2018-07-10 20:14] cwoolum opened #124 "Not working with AKS when RBAC is enabled"
Gettin the following error message in my logs

[code]

[2018-07-10 20:30] karolz-ms commented on #124
@cwoolum this is kind of expected

You will have to run your deployments under a ServiceAccount that is in a ClusterRole that has access to "get", "list" and "watch" verbs on pods and namespaces resources. Check K8s docs on ServiceAccount, ClusterRole and ClusterRoleBinding

[2018-07-10 21:59] cwoolum commented on #124
I tried the following template but I'm still getting the same error
[code]

Did I miss something?

[2018-07-12 18:12] xiaomi7732 commented on #116
It seems this one should be prioritized:
https://github.com/Microsoft/ApplicationInsights-Kubernetes/issues/124

[2018-07-13 18:02] yoavrubin opened #125 "Need to provide namespaces support"
My app uses a setup where namespaces are used, and keeps the default namespace empty.
It seems that this kind of setup causes [this](https://github.com/Microsoft/ApplicationInsights-Kubernetes/blob/e8ca46c753ab3e8291032b0a2bc3d4e58105ff36/src/ApplicationInsights.Kubernetes/K8sEnvironmentFactory.cs#L85) call to return an empty node list that later on fails [this](https://github.com/Microsoft/Applic

[2018-07-16 22:42] xiaomi7732 commented on #125
Troubleshoot with @yoavrubin and find the last issue before it works, in the binding, the sa account will be in the proper namespace:
[code]

I'll close this issue due to no further actions.

[2018-07-16 22:42] #125 closed

[2018-07-17 04:34] #116 closed

[2018-07-17 04:35] #123 closed

[2018-07-17 23:54] xiaomi7732 opened #128 "Investigate error thrown when there's no permission accessing node resource"
_This is found when troubleshoot with @yoavrubin for issue #125._

The following code will lead to a crash when the node is null:
https://github.com/Microsoft/ApplicationInsights-Kubernetes/blob/eb751a22b67714017895da66fdd6ff81201e73f9/src/ApplicationInsights.Kubernetes/K8sEnvironmentFactory.cs#L89
And node will be null when the current service account doesn't have permission to query the list the

[2018-07-30 12:16] mrmartan opened #129 "Can this work on arbitrary K8s cluster or in Azure only?"
Hello.

As the title suggests. If it can work on custom on premises k8s clusters, what are the prerequisites (like kubernetes controller version)?

I am trying this with our cluster and I am getting a mix of failures, timeouts and successes. I am not getting any K8s properties in my traces (except the SDK version). Sample trace captured by AppInsights below:

**Request Properties**
Event time	7/30

[2018-07-30 19:28] xiaomi7732 commented on #129
@mrmartan Thanks for the asking. AI.K8s shall be able to work with on a custom on-premises hosts.

There are several interesting info in the snapshot you provided:
1. Query Kubernetes Environment timeout indicates the application doesn't have permission to query the K8s master. By chance, is that an RBAC enabled cluster?
2. Hosting startup assembly exception indicates the hosting startup is not wo

[2018-08-01 00:42] Marusyk opened #130 "Application startup exception: System.NullReferenceException: Kubernetes service host is not set."
I'm following [ this guide ](https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/Hosting-startup-for-ApplicationInsights.Kubernetes) but when I run

[code]

As I understood I need to set KUBERNETES_SERVICE_HOST env variable. But what value?

[2018-08-01 18:47] xiaomi7732 commented on #130
@Marusyk Sorry to see it doesn't work for you. Please help me understand the issue better.
* Are you running this code in Kubernets managed containers or out of the Kubernetes?
* What's your K8s cluster versions? (kubectl version)
* What are the base images you used? (In Dockerfile)

**Details:**
By reading the call stack, the exception is thrown here:
https://github.com/Microsoft/ApplicationInsig

[2018-08-01 19:36] Marusyk commented on #130
Thanks for response.

- I'm running this code in Kubernets (on premise)
- kubectl version:
[code]
 - microsoft/dotnet:2.1-aspnetcore-runtime

[2018-08-01 21:31] xiaomi7732 commented on #130
@Marusyk Oh~ so you are running it in Windows containers, right?
In that case, could you please follow the instructions here: [Application Insights Kubernetes for Windows Container](https://github.com/Microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/WindowsContainer). Specifically, please making sure you have the following environment set in the downward API:
**APPINSIGHTS_KUBERNETES

[2018-08-01 21:43] Marusyk commented on #130
I installed Docker for Windows CE Edge and enable Kubernetes. I'm using Linux containers
![screenshot_3](https://user-images.githubusercontent.com/9221694/43550672-0e3c9af8-95ed-11e8-9d67-c704c736cd54.png)

[2018-08-01 22:12] Marusyk commented on #130
One more problem.

From README

but when I add `services.EnableKubernetes();` to Startup.cs and `UseApplicationInsights()` in Program.cs then try to run it without docker or k8s

[2018-08-01 22:29] xiaomi7732 commented on #130
@Marusyk Thanks for the info.
I am sorry I read the info wrong that you are in fact using Linux containers.

It is interesting that you are running it in the DockerTools on your local box - I didn't know the support was there. 👍

Can you please bash in one of the pad and dump out the environment variables for the pod and paste it back?
Basically:
[code]

[2018-08-01 23:14] Marusyk commented on #130
😕
![screenshot_4](https://user-images.githubusercontent.com/9221694/43553849-ba860900-95f9-11e8-9e61-6ba1864c7abd.png)

[2018-08-01 23:25] xiaomi7732 commented on #130
@Marusyk That is interesting. It seems the environment variable is there but the application can't fetch it somehow. Is it possible, in your application, try to output the value for the environment variable to logs, just to verify if that is a permission issue?

[2018-08-02 11:52] mrmartan commented on #129
@1) It seems it is. Although it is a development cluster and it is a bit of a mess. I suspected permissions myself. The problem was that there was a bunch of dependency successes. See here:
![image](https://user-images.githubusercontent.com/2376580/43581860-b21522d6-965a-11e8-86b6-71b6f601aa65.png)
@2.1) I am using `Microsoft.ApplicationInsights.Kubernetes.HostingStartup Version="1.0.0-beta8"` and

[2018-08-02 16:56] xiaomi7732 commented on #129
@mrmartan Hmm, yes, those are successful calls... Could you please try enable the verbose logs by following [Self-Diagnostics](https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/%5BAdvanced%5D-How-to-enable-self-diagnostics-for-ApplicationInsights.Kubernetes#enable-self-diagnostics) and see if there are anything indicates.
With regarding properly setup permission for RBAC, reference

[2018-08-03 09:01] mrmartan commented on #129
I have tried that earlier and only saw some successes and auth tokens. I did not send those logs to azure so I don't have them anymore. Will try again.

In the meantime. Is it expected that there is so many of the calls, i.e. 2 per second?

[2018-08-03 15:46] mrmartan commented on #129
I've sent you the log file to your email address in GitHub from mr.martan@outlook.com

[2018-08-03 15:53] mrmartan commented on #129
I have also added the RBAC configuration according to your example. Still all I can see targeting the k8s cluster are the /pods queries
![image](https://user-images.githubusercontent.com/2376580/43652597-ec5d3cd0-9745-11e8-8d0c-9329357594f2.png)

![image](https://user-images.githubusercontent.com/2376580/43652660-1b22cbb6-9746-11e8-8dbe-6cabb967b98b.png)

[2018-08-03 17:07] xiaomi7732 commented on #129
@mrmartan Thanks for mailing me the logs. I have replied the mail with details. Basically, I don't see errors in the log, it means the permission should be fine.
There are some interesting points:
1. You are using [Application Insights Profiler](https://github.com/Microsoft/ApplicationInsights-Profiler-AspNetCore) at the same time - since that is a relatively new library, there might be scenarios

[2018-08-04 23:29] xiaomi7732 commented on #130
@Marusyk Any updates?
I tried the latest DockerTools with K8s on my localbox and it worked well. Here's my docker tools version:
[code]
Thanks

[2018-08-04 23:37] xiaomi7732 opened #131 "Build an images for troubleshooting"
Build an image with Application Insights Kubernetes enabled that runs when the K8s cluster is properly configured; And gather proper logs when it fails to run.

[2018-08-04 23:40] xiaomi7732 commented on #128
As a matter of fact, since AI.K8s is running in a completely separate thread, the exception will NOT crash the app.

[2018-08-04 23:42] xiaomi7732 commented on #131
- [ ] Image
- [ ] Instructions of how to use the image

[2018-08-07 17:29] xiaomi7732 commented on #130
@Marusyk
1. The document is misleading. It really means that you can still run [application insights SDK](https://github.com/Microsoft/ApplicationInsights-Home) in K8s cluster without this library, not the other way around. I'll update it.
2. What is the scenario that you wish to run AI.K8s outside of K8s cluster? Is it for debugging? Is it for mixed deployment environment? Or could you please exp

[2018-08-07 17:30] xiaomi7732 opened #132 "Debugging service collection build stopped working since beta7"
Microsoft.ApplicationInsights.Kubernetes.Debugging.KubernetesDebuggingServiceCollectionBuilder is not working since beta 7. (it worked on beta6)

[2018-08-07 20:25] Marusyk commented on #130
Thanks for response.
I want to have one solution and run it on local (dev) environment using Docker Compose and for staging/production using k8s.

[2018-08-07 20:39] xiaomi7732 opened #133 "Support user story: debugging in local without k8s but deploy to k8s cluster"
Story:
I am a developer for ASP.NET Core app.
On my local box, I am running the application in docker container for debugging, it is a non-k8s environment;
When the time the app is deployed, it will be deployed with ApplicationInsights-Kubernetes enabled;

I **expect** to call service.EnableKubernetes() and I don't want to branch code for development and deployed code and it runs well.
But when I

[2018-08-07 20:40] xiaomi7732 commented on #133
This requirement comes from #130

[2018-08-07 20:43] xiaomi7732 commented on #132
Not true.

[2018-08-07 20:43] #132 closed

[2018-08-07 21:01] xiaomi7732 commented on #130
@Marusyk thanks for the info. In your case, the boundaries of using K8s or not is very clear: IsDevelopment(). Here's my suggestion on what you do:
In `Startup.cs`
[code]
Then you can put the enablement in condition:
[code]
Another way to do this is using the hosting startup that only when a specific environment variable exists: Details here: [Hosting Startup](https://github.com/Microsoft/Applicat

[2018-08-07 22:40] xiaomi7732 commented on #130
I created an issue of #133 to see if we can improve this experience. I'll close this trobleshooting due to no further action item. Feel free to file new issue.

[2018-08-07 22:40] #130 closed

[2018-08-07 22:58] Marusyk commented on #130
Thanks a lot. I've upgraded docker to the last stabe (not edge) version and it works.

[2018-08-07 23:02] xiaomi7732 commented on #129
Hey @mrmartan I have sent you a mail on 8/4 with a debugging image. Have you got chance to try it out?

[2018-08-08 08:01] mrmartan commented on #129
Not yet. Sry.

Yesterday it occurred to me that you are not saying anything about K8s version compatibility with this package. Is there any? Or it this expecting the latest version? Could that be the source of problems?

[2018-08-08 17:54] xiaomi7732 commented on #129
@mrmartan Thanks for the ask. `ApplicationInsights.Kubernetes` should run on K8s 1.7.8 and above. That said, there's still chance for one to run it in older version successfully.
What is the version that you used?

[2018-08-08 22:59] #131 closed

[2018-08-11 21:30] xiaomi7732 commented on #133
#127 has already solved the issue. Need a new release.

[2018-08-11 21:30] #133 closed

[2018-08-11 21:40] #128 closed

[2018-08-16 12:05] mrmartan commented on #129
I am sorry I am way too busy right now. I **will** get back to this.

[2018-08-16 16:54] xiaomi7732 commented on #129
No problem! I'll close this conversation for now. Feel free to reopen or start a new one at any time!

[2018-08-16 16:54] #129 closed

[2018-08-28 20:17] timmydo opened #135 "Microsoft.ApplicationInsights.DependencyCollector locks in specific version of application insights package"
I was trying to use app insights 2.8.0-beta1 and app insights k8s 1.0.0-beta9 nuget package. But the k8s nuget package depends on Microsoft.ApplicationInsights.DependencyCollector and the dependency collector depends on Microsoft.ApplicationInsights (= 2.7.2). I'm not sure the best place to report this issue.
[code]

[2018-08-29 20:26] brahmnes commented on #135
Hi @timmydo,

It looks like Microsoft.ApplicationInsights.DependencyCollector does depend on Microsoft.ApplicationInsights 2.8.0-beta1
https://www.nuget.org/packages/Microsoft.ApplicationInsights.DependencyCollector/2.8.0-beta1

Are you using 2.8.0-beta1 version of Microsoft.ApplicationInsights.DependencyCollector?

[2018-08-29 20:33] timmydo commented on #135
ah looks like I need to manually reference dependency collector, otherwise nuget chooses the non-pre-release version which isn't compatible with the pre-release version I selected of the main AI package. Thanks,

[2018-08-29 20:33] #135 closed

[2018-08-30 16:18] xiaomi7732 commented on #20
Doesn't make sense anymore. Close for now.

[2018-08-30 16:18] #20 closed

[2018-09-10 07:37] severisv opened #136 "Example for console application with HostBuilder"
Do you have an example of how to set this up correctly when running a console application using `HostBuilder` ?

I've tried the following (using SeriLog with ApplicationInsights sink):

[code]

When running this locally, the log statements end up in ApplicationInsights, but when I run it in my Kubernetes Cluster nothing gets through.

[2018-09-10 13:53] severisv commented on #136
Turns out that our Application Insights were only doing sampling, so the above code works after all 😳

Would still be great with an example on how to set it up correctly with `HostBuilder` 😊

[2018-09-11 16:50] xiaomi7732 commented on #136
@severisv Thanks for the comment. 👍  Feel free to submit a PR if you want. Otherwise, I'll add an example later.

[2018-09-14 02:58] xiaomi7732 opened #139 "Pack document xml into the NuGet package"
- [x] Build and generate xml document.
- [x] Pack up the xml document into the nuget package.

[2018-09-19 04:15] #139 closed

[2018-10-17 23:23] xiaomi7732 opened #142 "Update examples to reference the latest version of the packages"
For the sake of the security, the latest package is preferred. Update the examples to reference the latest packages.

[2018-10-19 02:18] #142 closed

[2018-10-19 05:08] darewreck54 opened #144 "Is there an equivalent for Java based application?"
Hi,

i was wondering if there is an equivalent for a Java based application instead of .net core with integration with app insights with kubernetes?

Thanks,
Derek

[2018-10-19 15:41] SergeyKanzhelev commented on #144
CC: @dhaval24 @AlexKlimovMS

[2018-10-19 15:58] karolz-ms commented on #144
CC: @xiaomi7732

[2018-10-19 17:20] xiaomi7732 commented on #144
@darewreck54 Thanks for your asking. I am not aware of the existence of a Java library like this. But I'll keep the issue open for a period for those of more knowledgeable to jump in.

[2018-10-31 12:05] sarthakmahapatra opened #145 "Error "Value is required to set custom dimension. Key: Kubernetes.ReplicaSet.Name""
Hi

I upgraded Microsoft.ApplicationInsights.Kubernetes from 1.0.0-beta1 to 1.0.0. Started getting this error

[code]

this pod is running as a DeamonSet.

[2018-11-01 00:16] xiaomi7732 commented on #145
@sarthakmahapatra Thanks for reporting the issue. DeamonSet is an interesting scenario. I'll take a look and then gets back to you.

[2018-11-05 12:14] sarthakmahapatra commented on #145
@xiaomi7732 thanks, looking forward to your response.

[2018-11-05 15:19] Banchio opened #146 "403 when querying master node"
hi all, using this sdk in our ACS engine deployed cluster (we are planning migration to AKS) we are noticing a lot of request to the master node (generated by the sdk in the pods itself) that ends up with 403.
Cluster has RBAC with AAD integration enabled so I guess that this is to be expected. How can I make it work?
Thanks!

added: I guess this is the same in AKS when enabling RBAC integration w

[2018-11-05 17:40] xiaomi7732 commented on #146
@Banchio Thanks for the asking. You will need to making sure the pod can access the root node by providing proper service account binding.

Please reference the following example for how to do the role bindings:
* [Enable RBAC example](https://github.com/Microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/BasicUsage_clr21_RBAC)
Specifically, please follow this section:
* [Setup the defa

[2018-11-06 02:17] xiaomi7732 commented on #145
@sarthakmahapatra The error is logged for debugging purpose. Although, I think should **not** be recorded as an error.
The PR will make the property optional so that the error message will only be seen in the debugging logging.

[2018-11-06 07:08] sarthakmahapatra commented on #145
Looks good, thanks

[2018-11-06 16:55] xiaomi7732 commented on #146
Sure. Feel free to reactive this or open a new issue.

[2018-11-06 16:55] #146 closed

[2018-11-06 16:56] xiaomi7732 commented on #144
Close this since there's no activity for 18 days.

[2018-11-06 16:56] #144 closed

[2018-11-07 12:51] Expecho opened #148 "The mehtod name of EnableKubernetes() is misleading"
Although I love this addon I am not that fond of the naming given this piece of code:

    public void ConfigureServices(IServiceCollection services)
    {
        services.EnableKubernetes();  // Add this line of code
        ...
    }

We are not enabling kubernetes here, we are enabling the enrichment of AI telemetry. When reading the code it is not clear at all what it does exactly.

I propose

[2018-11-07 17:41] xiaomi7732 commented on #148
Thanks for the feedback. Point taken. We will update the name and deprecate the existing method.

[2018-11-10 01:07] xiaomi7732 opened #150 "Refactor: split service injection with application running"
- [x] Split service injection with the execution
- [x] Take ILoggerFactory for extension method on ServiceCollotion

[2018-11-15 00:08] #148 closed

[2018-11-15 00:08] #145 closed

[2018-11-20 17:16] xiaomi7732 commented on #150
Implemented with #151.

[2018-11-20 17:16] #150 closed

[2019-01-10 20:59] rsnj opened #169 "Support Istio"
Using this library with Istio does not work. Istio seems to be blocking the internal calls to the AKS Kubernetes Management Server because they are seen to be external to the cluster. I have opened a ticket with Istio a while back and have no luck finding a solution. Is there a common URL or IP Address I can to my Istio configuration?

More information can be found here:
https://github.com/istio/i

[2019-01-15 03:17] xiaomi7732 commented on #169
@lisaguthrie by chance, do you know whom to contact for AKS configurations? Thanks in advance.

[2019-01-16 03:36] davidmatson opened #170 "Troubleshooting instructions don't work on windows nodes"
The docker image is based on a Linux OS and does not run on a Windows agent node.

[2019-01-16 05:01] davidmatson opened #171 "Extension doesn't just work out of the box on Windows with RBAC enabled"
I wasn't able to use the troubleshooting instructions (see #170), but I manually tried making an HTTPS request to api/v1/namespaces/default/pods, and that fails with the following error:
[code]

Here's my test:
[code]

Even if that step worked, I don't think this extension would work on this node though, at least from a quick scan through the source of GetMyPodAsync, because it wouldn't know which

[2019-01-16 05:48] davidmatson commented on #171
I think the first problem is related to RBAC - the default service account (which is the token given to the pod) doesn't have access to list all pods. I can manually create a clusterrolebinding to give the default pod service account this access, but that isn't the default.

However, even if I were to do so, that still wouldn't solve the problem of the pod figuring out which one is its own entry.

[2019-01-18 15:33] johnjbateman commented on #125
This helped me solve my issue today.  Thank you!

[2019-01-18 18:44] xiaomi7732 commented on #171
@davidmatson Please follow the example here and try it again: https://github.com/Microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/WindowsContainer
Feel free to open this if that doesn't address your issue.

[2019-01-18 18:47] davidmatson commented on #171
I'm not using ASP.NET, so that example doesn't entirely apply. Also, I don't believe it addresses the RBAC issue raised. I see the documentation about APPINSIGHTS_KUBERNETES_POD_NAME, but that only resolves one of the two problems I encountered.
Could you re-open this issue for me? I apparently don't have permissions to do so.

[2019-01-18 18:49] davidmatson opened #172 "Pod name requirement means extension doesn't "just work" on Windows"
Related to #171, unlike on Linux, at least one extra configuration step is required to get the extension working. This issue tracks making things "just work" on Windows like they do on Linux. Likely that requires driving changes upstream to make the pod name accessible from within the pod - where would we need to get assistance to make this work end-to-end?

[2019-01-18 18:53] xiaomi7732 commented on #172
That is right.
In the Linux implementation, the pod name is parsed from the cgroup, which doesn't exist in the Windows world.
If anyone knows how to get the container id / pod info somehow from within a Windows container, I'll be glad to update the implementation to eliminate the step.

[2019-01-18 18:54] davidmatson commented on #172
Should we try asking the Kubernetes folks? https://github.com/kubernetes/kubernetes

[2019-01-18 18:57] xiaomi7732 commented on #171
Hey @davidmatson
1. I thought you figured the RBAC part already, right? Otherwise, please reference [RBAC section](https://github.com/Microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/BasicUsage_clr21_RBAC#setup-the-default-service-account-for-rbac-enabled-cluster).

2. Downward API should just work for anything managed by K8s. As long as it is set in the yaml, the value will be there

[2019-01-18 20:54] davidmatson commented on #171
Thanks - I hadn't found that RBAC section before, that explains that part.

Is there any way to have the extension work without having to do a custom service account on every pod? Elsewhere, app insights "just works" as long as the app has the instrumentation key and outbound internet access. (I tended to think of the simplicity of app insights setup as one of its main advantages compared to other

[2019-01-18 21:30] davidmatson commented on #171
Yeah, I guess I was hoping for a way to add Kubernetes info which would just work as well (for example, the other web jobs extension didn't require any extra configuration to get it working).

When RBAC is enabled, is there any information we can populate that would "just work" if no custom service principal is specified? On linux, we'd have the pod name - is that it?

[2019-01-18 21:47] xiaomi7732 commented on #171
@davidmatson I am sorry that I think there are some confusions. RBAC and the pod name are 2 different issues and they do NOT relate to each other.

The Kubernetes info appends to the telemetry are all queried from the master using the service account. When RBAC is not enabled, the sa by default having permission to query the master and it works; When RBAC is enabled, the sa do not have permission

[2019-01-18 21:52] davidmatson commented on #171
Yes, I understand the difference in these two issues. My focus here is on the RBAC side of things.

On linux, when RBAC is enabled, what pod-related information is available from the container without needing a custom service account/permissions? Just the container ID?

[2019-01-18 22:09] xiaomi7732 commented on #171
@davidmatson That is a good question.

Basically, what you are asking is: without querying master (since no permission), what info can I get out of a container managed by K8s.

I am afraid that is out of my expertise.

[2019-01-22 18:10] davidmatson commented on #171
Sure, makes sense.

Last remaining question for this issue then - could we update the documentation to make the service account prerequisite more prominent? For example, there's no mention of it on this page that I could find:
https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/Getting-Started-for-.NET-Core-Applications

(same applies for windows container name prerequisite)

[2019-01-22 19:53] xiaomi7732 commented on #171
@davidmatson Sure. That makes sense. I'll keep this open for tracking.

[2019-01-23 16:36] adinunzio84 commented on #169
We had a similar problem with kubernetes/client-go#527. We worked with Microsoft to get some information, and this information may be relevant to your case too:
* If you use "includeIPRanges" so the Envoy proxies ignore egress traffic, the problem no longer happens, but then you lose some Istio functionality for egress traffic. If you don't use that, then the rest of the following apply:
* Since t

[2019-01-28 19:29] ferantivero opened #173 "System.InvalidOperationException: A circular dependency was detected for the service of type 'Microsoft.Extensions.Logging.ILoggerFactory'"
I was trying to use the Hosting Startup way but I faced a circular reference issue with the new logging builder configuration for Application Insights.

I was wondering whether there is a way to get both working together as of today:

[code]

EDIT: workaround below from
https://github.com/Microsoft/ApplicationInsights-Kubernetes/issues/173#issuecomment-472485918

[2019-01-30 17:57] ferantivero opened #175 "ZeroCodeLightUp + Configuration from Azure KeyVault"
I've been trying to implement the ZeroCodeLigthUp approach without APPINSIGHTS_INSTRUMENTATIONKEY env var but setting such key value in Configuration["ApplicationInsights:InstrumentationKey"] without luck. The latter is a valid custom configuration provider in [ApplicationInsights-aspnetcore](https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Custom-Configuration#configuration-based-

[2019-02-03 01:59] xiaomi7732 commented on #175
Hi @ferantivero, there are 2 key settings to light up Application Insights for Kubernetes, one is **Application Insights instrumentation key**; The second is the environment variable of **ASPNETCORE_HOSTINGSTARTUPASSEMBLIES** to Microsoft.ApplicationInsights.Kubernetes.HostingStartup.

* Do you check the two configuration set up correctly?

* When you are not seeing it work, what's the behavior? D

[2019-02-06 20:51] ferantivero commented on #175
thanks for your reply @xiaomi7732, I'm aware of those 2 key settings that are required and  when I setup both everything works as expected. But please note that I do not want to expose the IKey from an Environment Variable (first key setting required) but use KeyVault instead.

[2019-02-08 00:03] xiaomi7732 commented on #175
@ferantivero Thanks for the reply. Are you deploying the application as Azure Website? Have you ever looked into using the app settings blade in the portal to set the iKey? Or is there any requirement that you have to use KeyVault?

[2019-02-08 15:36] joergjo commented on #173
I'm not @ferantivero, but yes, that's the one. Hitting the same issue...

[2019-02-11 02:56] xiaomi7732 commented on #173
@joergjo With the info, I can't repro the issue. I'll keep looking. At the same time, if possible, could you please share a barebone project that reproduces the circular dependency?

[2019-02-11 21:47] joergjo commented on #173
Sure, just give me a day or two. In case you did already try to repro and failed (i.e. you have it working), can you share your project?

[2019-02-12 02:39] xiaomi7732 commented on #173
@joergjo, @ferantivero Just an update, yes, I can reproduce the issue now, thanks for the info. Need some time to see what is causing the problem.

[2019-02-13 23:52] brobichaud opened #177 "Enabling k8s support in a .Net Core app fails"
I'm trying to enable k8s support in my .Net Core app following the steps [here](https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/Getting-Started-for-.NET-Core-Applications) and am having trouble.

It says to include the AspNetCore nuget, which I'm guessing is a copy/paste error from the equiv page for enabling it in AspNet apps? But even if I add that and the ApplicationInsights.Ku

[2019-02-15 00:49] xiaomi7732 commented on #177
@brobichaud Sorry for the confusion. Please follow the example of this for apps in Windows container: https://github.com/Microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/WindowsContainer.

[2019-02-15 00:54] brobichaud commented on #177
But I am trying to enable it in a DotNet Core app, not an AspNet Core app. That link seems biased to AspNet Core.

[2019-02-17 12:39] xiaomi7732 commented on #177
@brobichaud Please follow the Windows Container example above, but try using the following code to inject AI.K8s.
// I am sorry but I have limited internet access now that I can't verify it. Please post back if there's more problem:

[code]

[2019-02-19 19:18] ferantivero commented on #177
@xiaomi7732 in my case scenario I've been able to get it working and also getting auto-track dependencies (e2e transaction), but I'm facing the following issues:

1. although it adds initializer, the enricher is not working: telemetry is not being contextualized with k8s metadata like container name, image name, etc.
2. incorrect cloud role name from Application Maps and e2e transaction
3. live st

[2019-02-19 19:21] ferantivero commented on #175
@xiaomi7732 been off for a while here 🙂

yes, for security reasons we do want to use KeyVault and not get iKey exposed through Environment Variables.

[2019-03-11 22:06] bdschaap opened #179 "403 Error for Kubernetes Telemetry"
I configured an AKS cluster, added the App Insights Kubernetes nuget package to a test project, and have deployed the application with Azure Dev Spaces using Visual Studio.  However, the first message repeats in my debug window in Visual Studio several dozen times about every half second apart.  The subsequent messages appear after that.  However, I am able to get it to work in a K8s cluster withi

[2019-03-13 15:58] ferantivero commented on #173
been looking into this and there is no easy way out based on my initial understanding.

But for the people facing same issue, I might have found a temporary workaround while this gets addressed. It's based on AppInsights enricher for Generic Host.

In short, do not add Kubernetes enricher from IServiceCollection extension method and let AppInsights AspNetCore setup normally without "extra" initial

[2019-03-13 19:25] xiaomi7732 commented on #173
@ferantivero Thank you so much for putting down the info!

[2019-03-13 19:28] xiaomi7732 commented on #179
@bdschaap AKS cluster enables RBAC by default. Do you have the service account setup? Please reference [Setup the default Service Account for RBAC enabled cluster](https://github.com/Microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/BasicUsage_clr21_RBAC#setup-the-default-service-account-for-rbac-enabled-cluster).

[2019-03-13 19:29] xiaomi7732 commented on #177
@ferantivero I believe you have figured this out based on the comment in #173, does that sound right?

[2019-03-13 19:33] xiaomi7732 commented on #175
@ferantivero This a general topic about securing instrumentation key in KeyVault and I think this issue is addressed here: https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/535. Please take a look and see if that solves your problem.

[2019-03-13 21:02] ferantivero commented on #177
@xiaomi7732 the issue I'm detailing here is about having feature parity between Web Host and Generic Host. This could be partially tackled from #178 (docs/samples). But it's definitely upstream too as far as I understand.

#173 is just about using Microsoft.Extensions.Logging.Application 2.9.1 with Microsoft.ApplicationInsights.Kubernetes 1.0.2 (lib incompatility issue).

[2019-04-23 18:32] davidmatson commented on #172
We tested and found that it is possible to get the host name on Windows from within the pod without using the downward API. Hostname.exe from within the pod works, which internally uses this Win32 API:
https://docs.microsoft.com/en-us/windows/desktop/api/winsock/nf-winsock-gethostname

Could this extension be updated to use this API on windows to have the pod name "just work" there too?

[2019-04-24 00:28] xiaomi7732 commented on #172
@davidmatson Thanks for the info.
By reading the document for getHostName(), it returns the host name of the container, right? (like machine name or machine name in a domain)

I have difficulties to use that to correlate back to the container id or use that to figure out the pod name. **Could you please explain in detail how is that going to work**?

[2019-04-24 00:31] davidmatson commented on #172
Inside a container, this API returns the pod name. Try doing something like this:
kubectl exec <pod> hostname.exe
and compare it with
kubectl exec <pod> cmd /c echo %COMPUTERNAME%

[2019-04-24 17:12] xiaomi7732 commented on #172
@davidmatson thanks for the quick turnaround. I'll take a look at it.

[2019-04-29 01:00] xiaomi7732 commented on #172
@davidmatson Followed the lead, here's what I see:
[code]
**c003088533e3** is the computer / host name, which agrees with the API spec.

**However**, it is neither the pod name nor can I correlate it back to the **pod name** (nanoserver-iis-5d999b87d7-mtz6w), what do I miss here?
[code]

[2019-04-29 16:49] davidmatson commented on #172
The behavior may be different on older base images. If you use the following base image, do you see the same output I was seeing?
mcr.microsoft.com/windows/servercore:1809

[2019-04-30 17:23] xiaomi7732 commented on #172
@davidmatson I currently don't have a good K8s cluster to host servercore:1809/nanoserver:1809. That said, the assumption is the API wasn't return the expected value until recently. That leads to branch cases. I think it is easier to keep using downward API until it stabilized. Idea?

[2019-04-30 17:25] davidmatson commented on #172
1809 is now the current Long Term Servicing Branch. I think it would be great if this extension "just works" on the latest stable version and only requires using the downward API on older versions.

I think the code could do something like get the hostname via an API unless one is provided via an environment variable - adding a single "if" statement so things just work going forward seems worthwhi

[2019-05-31 22:26] xiaomi7732 opened #182 "Deadloop when configured with ApplicationInsights.ILogger"
AI.K8s is emitting the debug log with ILogger. When application insights starts to listening to ILogger, it will emitting ai events; AI.K8s will process AI events and emitting more ILogger logs, thus the deadloop.

There should be ways for AI.K8s to not emitting ILogger messages but still have a way to do self-diagnostic.

[2019-06-02 12:22] SychevIgor opened #183 "A circular dependency was detected for the service"
Looks like we need an update of an extension for k8s

    <PackageReference Include="Microsoft.ApplicationInsights.AspNetCore" Version="2.7.0" />
    <PackageReference Include="Microsoft.ApplicationInsights.Kubernetes" Version="1.0.2" />

     public static IServiceCollection AddAppInsight(this IServiceCollection services, IConfiguration configuration)
        {
            services.AddApplication

[2019-06-02 12:34] SychevIgor commented on #183
https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/896

[2019-06-03 18:49] xiaomi7732 commented on #183
@SychevIgor Thanks for the reporting. This has been noticed and I am planning to address this issue along with #182 by getting rid of the dependency on ILogger for AI.K8s.

[2019-06-04 17:52] ferantivero commented on #183
@xiaomi7732 isn't it a dup of https://github.com/microsoft/ApplicationInsights-Kubernetes/issues/173? btw, initially solved in #180. Any plan for releasing it any time soon?

I understand getting rid of ILogger from #182 as a general design change looks is a wise final solution as well as aligned with upstream design.

[2019-06-04 23:29] xiaomi7732 commented on #183
@ferantivero Thanks for the question. Yes, it is. There's going to be a roll-up fix + release soon - ETA by mid next week.

[2019-06-05 23:36] xiaomi7732 commented on #179
Close this there's no response for a while. Feel free to open new issue if more info comes up.

[2019-06-06 00:59] xiaomi7732 commented on #177
The way moving forward will be to use ApplicationInsights.ILogger provider. See #185 for details.

[2019-06-07 23:09] xiaomi7732 commented on #177
Address this issue with #184 ; The documentation is updated with #185; The final bits will take a few days to be released.
Take a peek here: https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/BasicConsoleAppILogger

[2019-06-07 23:12] xiaomi7732 commented on #136
Update:
Since we have the new application insights, check out the example here:
https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/BasicConsoleAppILogger

[2019-06-07 23:12] #136 closed

[2019-06-10 17:23] xiaomi7732 commented on #183
Please upgrade to the latest release:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.0

[2019-06-10 17:23] #183 closed

[2019-06-10 17:23] xiaomi7732 commented on #182
Please upgrade to the latest release:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.0

[2019-06-10 17:23] #182 closed

[2019-06-10 17:24] xiaomi7732 commented on #177
For the latest implementation, please upgrade to the latest release:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.0

[2019-06-10 17:24] #177 closed

[2019-06-10 17:25] xiaomi7732 commented on #175
Thanks @ferantivero for the contribution.
Please upgrade to the latest release:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.0

[2019-06-10 17:25] #175 closed

[2019-06-10 17:25] xiaomi7732 commented on #173
Please upgrade to the latest release:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.0

[2019-06-10 17:25] #173 closed

[2019-06-10 17:28] #122 closed

[2019-06-10 17:34] xiaomi7732 commented on #169
Close this issue since this is tracked by https://github.com/istio/istio/issues/8696

[2019-06-10 17:34] #169 closed

[2019-07-04 12:32] laulaua3 opened #187 "BasicConsoleAppILogger exemple not working"
Hello,
I try your exemple but I have no information of K8s in Application Insight:

2019-07-04T14:13:31.438 | Logger is working | 1 | trace | {"CategoryName":"XXXXX.Template.Program","{OriginalFormat}":"Logger is working","Method":"Main"} |   |   |   | PC | 0.0.0.0 | Dublin | Leinster | Ireland | testk8slog-7b66f99d6f-gxmrp.(none) | 69a7b2ed-4658-499f-acac-b24e670fcda5 | job-aks-app-insights | dbd

[2019-07-09 22:15] xiaomi7732 commented on #187
@laulaua3 I'll take a look.

[2019-07-10 05:37] xiaomi7732 commented on #187
@laulaua3 Thanks for the feedback. There is a mistake in the example, the enablement of AI.K8s happens too late - later than configure telemetry configuration.

Please refer to the PR #188 for the fix. Primarily, pull the line of enable Application Insights Kubernetes Enricher to above `services.Configure<TelemetryConfiguration>`.

Here's how the logs look like
[code]

And here's how it look like

[2019-07-10 11:49] laulaua3 commented on #187
@xiaomi7732 Thanks for your reply,
I've tested but always the same problem, the only different is i'm on AKS not on an K8s Local.
this is my code

[code]
For DependencyInjector.ConfigureServices

[code]
JobTelemetryInitializer :
[code]
Thx

[2019-07-10 17:44] xiaomi7732 commented on #187
@laulaua3 Thanks for the detailed info. Do you know do you have RBAC enabled (it is enabled by default in AKS)? If yes, did you have the correct account binding? Please refer to [here](https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/BasicUsage_clr21_RBAC#setup-the-default-service-account-for-rbac-enabled-cluster) for how to do it.

[2019-07-11 09:27] laulaua3 commented on #187
@xiaomi7732 Ok, I had already done (only saRole.yaml)
![image](https://user-images.githubusercontent.com/8473051/61038531-79499780-a3cd-11e9-8281-1afd10fc5e9d.png)
And the log of the pod (I did removed critical information)
[code]

[2019-07-11 20:37] xiaomi7732 opened #189 "Add timestamp on the diagnostic source logs"
Actual:
[Trace] Whatever the log text is.

Expected:
[Trace] **yyyy-MM-dd HH:mm:ss** Whatever the log text is.

[2019-07-11 21:16] xiaomi7732 commented on #187
@laulaua3 Thanks for sending the logs. By reading the log and simulating the code you sent, I see that the initialization happens after the log that you invoked.

The way AI.K8s works is that it will query the K8s cluster master for the pod information, that happens asynchronously with the other logic - your code, in this case.

And when the time the initialization finished, your code has already

[2019-07-11 22:32] xiaomi7732 opened #190 "Build an example that works for the generic hosted builder"

[2019-07-12 07:09] laulaua3 commented on #187
@xiaomi7732 ok , that is what I thought, i will test your solution, and to anwser your question it 's not a real application but a template to start a application for the developper in internal.
Would passing the AddApplicationInsightsKubernetesEnricher  method asynchronously not solve the problem ?

[2019-07-12 11:57] laulaua3 commented on #187
@xiaomi7732After testing and some investigation, I found the problem.
In ctor  of the class KubernetesTelemetryInitializer,there is a call to the SetK8sEnvironment method that is not synchronous.
 `_ = SetK8sEnvironment();`
If I set it synchronously
`SetK8sEnvironment (). Wait();`
 the initialization is done properly before continuing.
I don't know there a impact if i make that for the Webapi
Thx

[2019-07-12 17:30] xiaomi7732 commented on #187
laulaua3 Thanks for digging into the issue. That is by design. The reason is to reduce impact on the real code as much as possible.
Basically, for the first few requests, it is possible that the kubernetes info is not attached; But your application is still up and running and there's still telemetry by application insights.

Please file another issue if you really want the synchronous mode and we

[2019-07-12 17:37] xiaomi7732 opened #191 "Regression: the overload to provide k8sDetect doesn't seem work anymore"
Needs to investigate why.

[2019-07-15 07:05] laulaua3 commented on #187
@xiaomi7732 I'm agree with you for this design but not working in console app and AKS (my case). I do not think adding a task.delay is a good choice (the waiting time will be very random) .
I close the issue.

[2019-07-15 07:05] #187 closed

[2019-07-15 17:50] xiaomi7732 commented on #187
@laulaua3 Thanks for your input!

[2019-07-19 19:53] xiaomi7732 commented on #191
The following code is verified working.
[code]

[2019-07-19 19:53] #191 closed

[2019-07-22 17:04] #189 closed

[2019-08-23 18:44] #190 closed

[2019-10-09 14:20] JakeSmokie opened #196 "Memory usage is not shown"
![image](https://user-images.githubusercontent.com/14360046/66489873-f82b9a80-eab8-11e9-9464-d378d70d19b1.png)
I am using Microsoft.ApplicationInsights.AspNetCore 2.8.1 and Microsoft.ApplicationInsights.Kubernetes 1.1.0

[2019-10-21 01:24] #196 closed

[2019-12-16 12:19] bdschaap commented on #179
Apologies for the delay.  This worked and thanks for the guidance.

[2019-12-16 21:44] xiaomi7732 commented on #179
@bdschaap Thanks for your confirmation!

[2020-01-24 16:24] hisuwh opened #197 "appName shown as name of application insights"
Thanks to this package I can now see my kubernetes applications on the application map.  However the appName property is set to the name of the application insights instance for all of them and hence they all show as one node on the map.

This obviously isn't very helpful.  I realise this may not be an issue with this package directly but the documentation is sparse on this subject so I was hoping

[2020-01-24 17:15] hisuwh opened #198 "Two sets of instructions for enabling self diagnositics - which is right?"
There are two sets of instructions for enabling self diagnostics:
- [here](https://github.com/Microsoft/ApplicationInsights-Kubernetes/wiki/%5BAdvanced%5D-How-to-enable-self-diagnostics-for-ApplicationInsights.Kubernetes)
- [and here](https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/docs/SelfDiagnostics.MD)

Which is the most correct/up-to-date?

[2020-01-27 11:00] hisuwh opened #199 "Kubernetes enricher seems to be initialised but not working correctly"
I'm trying to set this up but cannot get it working currently.  I have enabled the diagnostics and I can see logs that suggest it gets initialised but then my logs after that are full of this entry:

`Application Insights for Kubernetes telemetry initializer is used but the content has not ready yet.`

And I cannot see any of the Kubernetes custom metrics in Application Insight.

Heres the full tr

[2020-01-28 01:35] xiaomi7732 commented on #198
Hi @hisuwh, thanks for noticing the issue.
The later is up to date: https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/docs/SelfDiagnostics.MD
I'll remove the old post.

[2020-01-28 01:44] #198 closed

[2020-01-28 01:48] xiaomi7732 commented on #199
@hisuwh When the query succeeded, it indicates the authentication is good. But I can't tell why the initializer is not ready.
Could you please share with me the Kubernetes' version and I'll see if I can reproduce it locally for debugging.

[2020-01-28 01:50] xiaomi7732 commented on #197
Hey, you are right, app name is not manipulated by this package. If I understand correct, you have shared iKey in multiple applications, right? I don't think that is recommended by application insights. @OsvaldoRosado could you please suggest on that?

[2020-01-28 05:58] xiaomi7732 commented on #199
Also, just FYI, I built a simple ASP.NET Core 3.0 app and deployed it to a newly created AKS cluster (1.14.8) and the initialization has succeeded for me.

Logs:

[Debug] [2020-01-28T05:32:17.5089210Z] Kubernetes base address: https://10.0.0.1:443/
[Debug] [2020-01-28T05:32:17.6413054Z] Initialize Application Insights for Kubernetes telemetry initializer with Options:
{"InitializationTimeout":"00:

[2020-01-28 16:51] hisuwh commented on #199
Thanks for your response.
You have said you have got it working successfully and are getting logs saying `K8s info avaialbe` - if you look at the log messages I posted I am also seeing `K8s info avaialbe` but the integration does not seem to be working.

I am running on AKS, Kubernetes version: 1.13.10

[2020-01-28 18:46] xiaomi7732 commented on #199
@hisuwh thanks for pointing that out. You are right there. I looked the code, there are 2 places outputing logs of K8s info: [Ln138](https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/822f927940899f6d629c76cd6b2ac619ab9eea01/src/ApplicationInsights.Kubernetes/K8sEnvironmentFactory.cs#L138) and [Ln182](https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/822f927940899f6d62

[2020-01-29 09:40] hisuwh commented on #199
I do have a readiness probe.  `initialDelaySeconds` is not specified.  This is the relevant information from describe:

[code]

Looking a the logs this time I can see these:
[code]

[2020-01-29 09:47] hisuwh commented on #199
In fact not long before this I can see:
[code]

So looks like my readiness probe isn't returning successfully before the kuberentes initialisation timeout.

So if I increase the InitializationTimeout should that resolve my issue?

Question while I've got you.  I've also got the `Microsoft.ApplicationInsights.Kubernetes.HostingStartup` package installed and this config set:
[code]

Do I need that a

[2020-01-29 20:08] xiaomi7732 commented on #199
@hisuwh Thanks for the details.
* Yes, try extend the settings of InitializationTimeout and see if that resolves the issue.
  * The enricher only fetches the data from the cluster after the container is ready - the readiness probe need to success.
  * The descriptoin of the pod shows the container's in `Ready` state, my guess is that the container has passed the initializaiton stage - however, the

[2020-01-30 00:06] OsvaldoRosado commented on #197
@SoubhagyaDash should be able to help with the guidance for this

[2020-01-30 00:27] SoubhagyaDash commented on #197
We recommend a different AI resource for every independently deployable application component. You can use either model however, single or multiple AI resources – it does *NOT* affect Application Map or the Transaction Diagnostics experiences.

Each AI resource comes with metrics that are available out of the box, and are aggregations on the telemetry reported to it. If completely separate compone

[2020-01-30 14:41] hisuwh commented on #197
@SoubhagyaDash
Thanks for the information.  I think an AI resource per deployment won't work very well for us as we would have many to manage.  Its also helpful to trace a request across microservices from one instance.

I think the Cloud_RoleName part is what I need.  Any guidance on how I can set this? Is it just an environment variable or is there more to it than that?

[2020-01-30 16:26] hisuwh commented on #199
@xiaomi7732 Thanks for the response.

I increased the timeout and I noticed in the logs that I got this entry twice:
[code]
And that I was also getting this entry twice:
[code]

I removed the hosting startup config and redeployed and then I was only getting the first entry, but I am still getting it twice which is weird.  Even with this increased timeout I'm still seeing this error (also twice):
[

[2020-01-30 16:33] hisuwh commented on #199
Also

This means I lose all my initialisation logs if I have a long startup.  What's the reason for this?

[2020-01-30 17:12] hisuwh commented on #199
I've manage to get it working, increasing my timeout to 10 minutes.  I have a rather large DB context, and Entity Framework is taking around 5 minutes to initialise.  Thanks for your help.

I still maintain my question as above though.

[2020-01-30 18:55] xiaomi7732 opened #200 "Initialization being invoked multiple times during startup"
It looks like initialization is invoked multiple times. This might or might not be an issue. Investigate why.
Refer to #199 for detailed logs.

[2020-01-30 18:56] xiaomi7732 commented on #199
Firstly, I am glad you made it work.

1. To the side note of stopping the logging, those were traces you normally won't see it when self-diagnostics is not turned on. Is there reason you have to keep self-diagnostics on? Can you limit the level of message to Information that it will hide trace/debug loggings?

1. With regarding the initialization, I see 2 potential issues:
    * The initialization

[2020-01-30 19:11] xiaomi7732 commented on #197
@hisuwh Hey, could you please check out what's the value in your telemetry for 'cloud_RoleName'?
When the enricher is on, you shall have roleName set to the container name:
https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/822f927940899f6d629c76cd6b2ac619ab9eea01/src/ApplicationInsights.Kubernetes/TelemetryInitializers/KubernetesTelemetryInitializer.cs#L73

Copied code:
[code]

[2020-01-31 09:12] hisuwh commented on #199
1. Of course. Good point. Need to turn that off now.
2. I'm not concerned about it being "inconsistent" - I set it in code so I wouldn't expect the hosting startup to pick that up.  I'll remove the hosting startup part if I don't need it and now I've got the code one working.

Thanks for raising that issue, not sure if it's problematic but certainly seems strange.

Thanks for your help and being i

[2020-01-31 09:17] hisuwh commented on #197
@xiaomi7732 Thanks.
I can see that my role name is set correctly now and my applications are showing up correctly on the application map as well.

Think this is related to #199 and the fact I didn't have this working correctly.  Thanks for your help.

[2020-01-31 17:06] xiaomi7732 commented on #199
Yup. I'll use #200 to tracking the actions. Close this one. Again, I am glad it works for you. Feel free to open new issues if there's anything else.

[2020-01-31 17:06] #199 closed

[2020-01-31 17:08] xiaomi7732 commented on #197
@hisuwh Thank you for the update.

[2020-01-31 17:08] #197 closed

[2020-02-09 00:36] xiaomi7732 commented on #200
There are multiple telemetry configurations, each have different ids. The initializer is injected into both place, which is by design.

For example:

Initialize Application Insights for Kubernetes telemetry initializer with Options:
{"InitializationTimeout":"00:00:30"}
...
KubernetesTelemetryInitializer has been injected into telemetry configuration **#24692740**.
...
Initialize Application Insigh

[2020-02-09 00:36] #200 closed

[2020-03-12 13:58] skwasiborski opened #201 "Add k8s namespace name to the enricher"
Currently namespace name is not by the enricher to the context. Namespace is important info especially during development or in multi-tenant setups when multiple versions of the same deployment are deployed to different namespaces. The namespace name can be fund in the following file:
`/var/run/secrets/kubernetes.io/serviceaccount/namespace` so extracting it should not be an issue.

[2020-03-12 17:47] karolz-ms commented on #201
+1 on this ask. Separating deployments by namespace is a very common K8s practice and having namespace name in the context adds a lot of value.

[2020-03-18 11:36] skwasiborski opened #202 "Enricher throws exception when run outside of Kubernetes"
Enricher throws exception when the service is run outside of Kubernetes. In my opinion this should not be the case. This makes debugging harder since one needs to add some kind of conditional statement to not register the Enricher when running locally.
[code]

[2020-04-10 15:56] hermanho opened #203 "The API path has been changed after k8s v1.16"
The API path has been changed so the information of deployment and replicaset are empty.

Reference:
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2020-04-24 16:59] dewanymca opened #204 "Kubernetes Cluster Name not getting logged"
We are running active-active configuration for Kubernetes cluster for different environment. We are unable to see clustername getting logged as part of telemetry. This will help us in identitfying which cluster has processed the request and how load balancing is happening. Is there anything we are missing here? How to enable ClusterName.

[2020-04-27 22:19] xiaomi7732 commented on #204
@dewanymca Could you please clarify what is the cluster name you are looking for to record? Could you please describe how are you getting it? For example, what kind of kubectl cmd or what UI. A screenshot of where you get it manually will be really helpful for us to understand what is the data point you are trying to record. Thanks.

[2020-04-27 23:22] xiaomi7732 commented on #201
Fix available by #205

[2020-04-28 17:27] xiaomi7732 opened #206 "Is the string interpolation in the telemetry initializer too heavy?"
@karolz-ms writes in https://github.com/microsoft/ApplicationInsights-Kubernetes/pull/205:

And that points to the code [here](https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/822f927940899f6d629c76cd6b2ac619ab9eea01/src/ApplicationInsights.Kubernetes/TelemetryInitializers/KubernetesTelemetryInitializer.cs#L138). For example:

[code]

On one hand, I often assumes string interpolati

[2020-04-28 18:00] dewanymca commented on #204
When we run command kubectl config get-contexts we recieve clustername as output in one of the column, we are looking to get smae in Applicaiton insight

[2020-04-28 18:33] xiaomi7732 commented on #204
@dewanymca For now, apparently, there's no way to get the cluster name from within the cluster.
References:
* https://github.com/doriordan/skuber/issues/238
* https://github.com/kubernetes/kubernetes/issues/44954

There's a draft for standardize the cluster name:
* https://docs.google.com/document/d/1F__vEKeI41P7PPUCMM9PVPYY34pyrvQI5rbTJVnS5c4/edit#heading=h.4igbcpajqich

Is it possible:
* for you

[2020-04-28 18:35] xiaomi7732 commented on #202
@skwasiborski I tried to run a webapi with the enricher enabled outside of K8s. But I don't see the exception. Could you please share some details:
* What's your steps to repro this issue?
* What's the package version of Application Insights for Kubernetes are you referencing to (1.1.1)?
* By any chance that you have first chance exception enabled for NullReferenceException?

[2020-04-28 21:14] karolz-ms commented on #206
@xiaomi7732 yes that is what I was getting at. This code is on a hot path so even small costs add up.

In this particular case you have a dozen or so dimension names that could be pre-computed when the telemetry initializer is starting. Using a pre-computed string will always be faster than interpolation in terms of CPU load. Even more importantly, at least one avoidable memory allocation will be

[2020-04-29 18:23] xiaomi7732 commented on #203
@hermanho, thanks for the heads up. I'll update related code.

[2020-04-29 18:28] xiaomi7732 opened #208 "Any objection to drop support for .NET Standard 1.3 & 1.6?"
We have some ancient code to support .NET Standard 1.3 & 1.6.
Since .NET Core 1.0 & 1.1 is [end of life](https://dotnet.microsoft.com/download/dotnet-core), is there any objection to drop support for .NET Standard 1.3 & 1.6 in the next release?

[2020-04-30 00:10] #206 closed

[2020-05-05 15:51] xiaomi7732 commented on #203
Released  in [1.1.2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.2).

[2020-05-05 15:51] #203 closed

[2020-05-05 15:52] xiaomi7732 commented on #201
Fixed in [1.1.2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.2).

[2020-05-05 15:52] #201 closed

[2020-05-05 15:53] xiaomi7732 commented on #202
No response for a few days. Close this for now. Feel free to open new issue when there's  a repro step.

[2020-05-06 09:41] tomaszliptak opened #211 "Is it possible to use this library with worker services?"

[2020-05-11 16:42] xiaomi7732 commented on #211
@tomaszliptak In general, you might need to write some code for specific tracking, as long as you can use application insights, you will be able to use this library.
Just FYI, this might be a good start point: [Track Telemetry that's not automatically collected](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#how-can-i-track-telemetry-thats-not-automatically-collected).

[2020-05-29 07:54] raelga commented on #204
+1

Some time when you need to manage cloud resources from within the cluster, you need the cluster id to look for the `kubernetes.io/cluster-name/cluster-id` tag.

[2020-05-29 16:41] xiaomi7732 commented on #204
@raelga Thanks for the info. Is this tag on the pods? If so, it is already recorded in the labels property.

@dewanymca Last time, we synced offline, talking about adding labels on to the node for the cluster name, did it work for you?

[2020-05-29 17:06] dewanymca commented on #204
yes it did work for me

On Fri, May 29, 2020 at 10:11 PM Saar Shen <notifications@github.com> wrote:

[2020-05-29 20:29] raelga commented on #204
Is not anywhere, the tag is only visible on the AWS resources (or at least I didn't find it anywhere).

[code]

I'm writing an operator to manage some settings for AWS Network load balancers that are not manageble by the cloud provider controller. And the way I think the controller does is by filtering by two tags:

- `kubernetes.io/service-name": {namespace/servicename}`
- `kubernetes.io/cluster/

[2020-06-14 07:44] SanthoshMedide opened #212 "Logs not going to ApplicationInsights ( Using Opencensus)"
**The program runs on a Kubernetes cluster. Logs work on local but not sent to AppInsights Azure**
----------------------------------logging.yaml--------------------------------------
[code]
-------------------------------**setting the logging(set_logging.py)**----------------------------

[code]
----------------------------**my program python file**---------------------------------------
[code]
-

[2020-07-07 12:10] skwasiborski commented on #202
Hi, Sorry for not responding earlier. I found that the issue is present only when the service is started on Windows.

repro steps:
1. create new service
[code]
2. Enable Application Insights and Application Insights for Kubernetes Enricher in Startup.cs:
[code]
3. run the service
[code]
Output:
[code]

[2020-07-07 20:14] #204 closed

[2020-07-07 20:16] xiaomi7732 commented on #212
@OsvaldoRosado this looks like a Application Insights for Python issue, any idea whom to contact?

[2020-07-20 07:17] merlynkiron opened #213 "Integration with a Framework project"
I have followed the steps in the API and added the Kubernetes package to my .NET core framework application. I introduced a new flag "Enable8sEnricher" which is set to true.  Now I have deployed this as a pre-release project. Another service application which is hosted on AKS platform is calling the framework package. The pre-release project package is added as a dependency to the service applicat

[2020-07-20 11:17] amulya-pokala opened #214 "Query Kubernetes Environment timeout."
I am facing timeout issues with AI for kubernetes. Can anyone please give pointers on how to fix this

![image](https://user-images.githubusercontent.com/14961791/87932129-9d43bc80-caa8-11ea-98a5-b767cb4d9d33.png)

This is the piece of code that I have added

services.AddApplicationInsightsTelemetry();
			services.AddApplicationInsightsKubernetesEnricher(option => {
				option.InitializationTimeou

[2020-07-24 18:17] xiaomi7732 commented on #213
@merlynkiron By reading the description, I am not sure I understand what are you trying to reach. I am confused by:
1. What do you mean by set a flag of `Enable8sEnricher`?
1. Are you saying you add the reference to ApplicationInsights.Kubernetes to the child project? Can you elaborate how do you write code to enable the Application Insights for Kubernetes?

Thanks.

[2020-07-24 18:20] xiaomi7732 commented on #214
@amulya-pokala Does your cluster have RBAC on? Have you setup the proper service account like it here: [Setup the default Service Account for RBAC enabled cluster](https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/BasicUsage_clr21_RBAC#setup-the-default-service-account-for-rbac-enabled-cluster)?

[2020-07-28 08:50] amulya-pokala commented on #214
@xiaomi7732 the required role, rolebinding have already been assigned to the service accounts being used for this application

[2020-07-28 18:40] xiaomi7732 commented on #214
Hi @amulya-pokala thanks for the info. Could you please turn on the diagnostics and run it again:
https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/docs/SelfDiagnostics.MD
It will generate detailed logs around what is happening. If you want, post the logs here and I can help take a look what is going on.

[2020-07-31 03:11] merlynkiron commented on #213
Hi,

Could we have a call to discuss this?
So that I can show you the implementation and the pain points we are facing?

Best regards,
Merlyn Neha Kiron

On Fri, 24 Jul, 2020, 11:48 pm Saar Shen, <notifications@github.com> wrote:

[2020-08-05 08:05] bvrabete commented on #179
Hi there,

I am still seeing this error despite following the steps for defining the service account. Where should I be looking to debug the issue? What am I missing?

See below the log entries:

2020-08-05T08:00:57.799570616Z crit: Microsoft.ApplicationInsights.Kubernetes.K8sEnvironmentFactory[0]
2020-08-05T08:00:57.799638993Z       Fail to fetch the pod information in time. Kubernetes info will

[2020-08-06 16:32] xiaomi7732 commented on #179
Hi @bvrabete  It seems like the enricher can't reach the proxy. Could you please turn on the diagnostics and run it again:
https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/docs/SelfDiagnostics.MD
It will generate detailed logs around what is happening.

If you want, post the logs here and I can help take a look what is going on.

[2020-08-10 10:42] buzzaII opened #215 "Working in Functions v3?"
Just wondering if this would work in a Functions v3 container running on aks ?

[2020-08-13 09:30] amulya-pokala commented on #214
[kube API logs.txt](https://github.com/microsoft/ApplicationInsights-Kubernetes/files/5068239/kube.API.logs.txt)

@xiaomi7732  PFA the text file that contains the logs generated for my application after running the diagnostics

[2020-08-13 16:01] razvangoga opened #216 "403 still persists after applying the RBAC configuration"
Hi,

I'm trying to deploy a .Net core 3.1 Worker Service application int AKS.
After running the RBAC configuration 1 of the 4 K8s API requests still return a 403 (before applying the RBAC all 4 would fail with 403).

My setup is

- AKS with Kubernetes v1.16.10
- .Net Core 3.1.301 Worker Service using the following Docker build file and using the Microsoft.ApplicationInsights.Kubernetes v1.1.2 nuge

[2020-08-16 16:17] xiaomi7732 commented on #214
Hi @amulya-pokala , thanks for sharing the logs. It looks like the enricher can't get the info to locate the current container id. **What is your base image for the container?**

There are 2 potential issues, either:
1. The format for container info in the cgroup is unexpected that the container id is not available.
2. If it is a windows container, there's no cgroup and additional configuration is

[2020-08-16 16:19] xiaomi7732 commented on #215
@buzzaII Thanks for the ask. What is function v3? Could you please share some documentation with me?

[2020-08-16 16:25] xiaomi7732 commented on #216
Hi razvangoga, the configuration steps seems correct. When you do deploy the ClusterRoleBinding, does it have the same namespace as in the replica?

[2020-08-16 20:32] razvangoga commented on #216
Yes, as far as I can tell - but the K8 deployment namespace is not set in the K8 deployment yaml, but rather in the Azure Devops release pipeline (i forgot to mention that the services are deployed via Azure Devops, if this makes any difference)

In AKS the pods run in my namespace (and they run so far without any issue)

Below are the redacted K8 deployment yaml and Azure Devops step.

[code]

[c

[2020-08-16 21:49] buzzaII commented on #215
Apologies, that should have said Azure Functions v3, here is some documentation:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda

[2020-08-18 06:17] amulya-pokala commented on #214
Hey @xiaomi7732  the base image is microsoft/dotnet:2.2.1-aspnetcore-runtime-alpine3.8

[2020-08-19 01:43] bbridges commented on #216
Had a similar issue to this with 403 for replicasets, adding the `apps` api group to the ClusterRole allowed this request to work. The ClusterRole in the RBAC example still uses the older `extensions` api group.

[2020-08-19 10:09] razvangoga commented on #216
Thanks for the tip @bbridges! That did the trick

![image](https://user-images.githubusercontent.com/1067494/90621327-e015c300-e213-11ea-8c51-c51be9a41cd7.png)

The updated RBAC config i used is:

[code]

@xiaomi7732 - what are your thoughts on this?

[2020-08-19 16:24] xiaomi7732 commented on #216
That makes sense. Actually, I think this issue is caused by this recent change: https://github.com/microsoft/ApplicationInsights-Kubernetes/pull/209.
I'll update the documentation.

[2020-08-19 16:32] xiaomi7732 commented on #214
Hey @amulya-pokala Could you please try update the RBAC settings like in this thread:
https://github.com/microsoft/ApplicationInsights-Kubernetes/issues/216
I suspect that you are caught by the same issue.

[2020-08-26 09:27] amulya-pokala commented on #214
hey @xiaomi7732  I have checked the cluster role binding yaml files and as mentioned in #216, the apigroup is already present.

The same clusterRole, rolebinding is being used by other apps in the same namespace and the kube AI is working for them. The only difference is that the other apps are on core 3.1
Could that be an issue? since mine is on core 2.2 alpine image

apiVersion: rbac.authorizati

[2020-09-27 22:57] pinkfloydx33 opened #217 "Disable Performance Counters"
Is it possible to disable the two performance counter metrics (CPU and Memory) from being added as telemetry properties by the telemetry initializers? The CPU always returns `NaN` and the memory always reports some wildly inaccurate value (ex. 11gb when in actuality it's more like 200mb). These two statistics clutter all of my telemetry. Since we have other means of monitoring them anyways, they a

[2020-10-02 17:15] xiaomi7732 commented on #217
@pinkfloydx33 Thanks for the request. There's no way to configure the settings for now but I'll see if it can be added.

[2020-10-06 17:52] Olli64 opened #219 "RBAC SARole suggestion"
Greetings,

I stumbled across problem with multiple namespaces (dev, test, prod) with each having their own application insights.

As I'm not that familiar with kubernetes and dont have too much in-depth knowledge of the Roles/RoleBindings.

I had a small challenge here on how to make application insights able to collect information from all of the namespaces to enrich request telemetry.
(appins =

[2020-10-06 23:03] xiaomi7732 commented on #219
@Olli64 thanks for bringing this up. I think it make sense to use **RoleBinding** than **ClusterRoleBinding** and you have a perfect example of how will it look like in real scenario.

Do you want to submit a PR so that you will take the credit, or if you prefer, I can prepare a PR. Which one do you prefer?

[2020-10-06 23:11] xiaomi7732 commented on #219
Here's an example from the K8s official documentation:

[code]

[2020-10-07 06:37] Olli64 commented on #219
Thanks for quick reply @xiaomi7732

I'm not quite sure that it cant get necessary resources outside of that rolebindings permissions because atleast I can Node information on my application insights requests, not sure if thats what you're after.

![image](https://user-images.githubusercontent.com/34423910/95295897-88ddb780-0880-11eb-8fb3-e0fdc4f61128.png)

Should there be something more from nodes

[2020-10-07 06:43] Olli64 commented on #219
Just deleted my previous post, I didnt notice I still had ClusterRoleBinding and RoleBinding so that might be why I had permissions to read node resource.

It states quite clearly that:
_Allow reading the resource "nodes" in the core group (because a Node is cluster-scoped, this must be in a ClusterRole bound with a ClusterRoleBinding to be effective):_

I'll remove the ClusterRoleBindings and see

[2020-10-07 06:54] Olli64 commented on #219
Alright, so now that I've properly configured my rolebindings it clearly shows that I'm not able to fetch information from the Node.

![image](https://user-images.githubusercontent.com/34423910/95297334-f7237980-0882-11eb-87c4-ddf09d5d2971.png)

Thanks for pointing this out @xiaomi7732

So then it must be ClusterRoleBinding to each namespace to be able to fetch information from resources outside o

[2020-10-07 07:00] Olli64 commented on #219
This was actually quite teaching problem, now I better know how this thing works :) Thanks @xiaomi7732

Only thing might be good to somehow on that guide to let user know how to set it up to multiple namespaces if you got application insights running in several different namespaces. I'll leave that to you :)

[2020-10-07 07:00] #219 closed

[2020-10-07 19:37] xiaomi7732 commented on #217
Keep this open until the new version is released.

[2020-10-07 21:00] xiaomi7732 commented on #217
Hi @pinkfloydx33 , the configuration is available at:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.3

Refer to https://github.com/microsoft/ApplicationInsights-Kubernetes#configuration-details for how to use it.

[2020-10-07 21:00] #217 closed

[2020-10-08 07:31] pinkfloydx33 commented on #217
@xiaomi7732 thank you, and thanks for the quick turn around!

[2020-12-07 22:22] robinmanuelthiel opened #221 "Hide calls to 10.0.0.1 in Application Map"
Shall we hide the calls to the Kubernetes API Server (10.0.0.1) from the Application Map? It makes it very confusing if every service calls this endpoint. Of course, technically they do, but I don't need that information on the Application Map and it's overloaded then. What do you think?

![image](https://user-images.githubusercontent.com/5874465/101412557-1a9a8d00-38e3-11eb-88f8-732d665569a4.png)

[2021-01-12 19:55] xiaomi7732 commented on #221
Hi @robinmanuelthiel thanks for the suggestion.

I think the goal could be easily reached by creating [a telemetry processor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#create-a-telemetry-processor-c).

Since it is not strictly K8s related, I am afraid I don't think it fits into scope of this repo. Any objections?

[2021-01-13 12:08] robinmanuelthiel commented on #221
In which scenarios do you think it makes sense to show these calls? As it's not my application, that is calling the Kubernetes API but just the Application Insights package which is gathering additional information form the API to function properly, I can't think of many use-cases where there is a benefit for a developer who is looking at the Application Map.

[2021-01-13 22:56] xiaomi7732 commented on #221
Hi @robinmanuelthiel, for discussion, I wasn't arguing with you about the scenario. I actually agree with you it doesn't make sense.

But, I **do** want to argue:
1. That the focus for this library is to get the info from K8s, put it on to the telemetry. It is **not** to cover the trace on the way.
1. You have admitted too, the query to the main node actually happened.
1. It is the user's call to

[2021-01-13 23:01] robinmanuelthiel commented on #221
Good points, I agree, that the library shouldn't hide a call that is actually happening. What's your opinion on documenting somewhere prominently here in this repo (maybe in an FAQ section) how to filter this traffic out using a telemetry processor?

[2021-01-13 23:10] xiaomi7732 commented on #221
@robinmanuelthiel I like the idea of documenting. So far, we have been making use of issues exactly like this one, fully context with discussions, plus tags, plus pins for FAQ. For example:
![image](https://user-images.githubusercontent.com/3674549/104521111-27309600-55b1-11eb-8947-36b90efc0f7c.png)

I could quickly do it for this issue too. Suggestion?

Thanks again for the discussion!

[2021-01-13 23:17] robinmanuelthiel commented on #221
Personally, I like the idea of using and pinning issues for that, as they are very searchable but AFAIK one can only pin a limited amount of issues in GitHub. As a user, I would be surprised to find documentation in form of issues and rather search for it in a Wiki or Markdown doc.

Also, if this project ever gets documented in the official Microsoft docs, issues won't work anymore.

So I am unsur

[2021-01-14 00:55] xiaomi7732 commented on #221
I hear you about the documentation. Let me try wiki. And we can always reshape when needed.

[2021-01-14 01:10] xiaomi7732 commented on #221
Put up a simple page:
https://github.com/microsoft/ApplicationInsights-Kubernetes/wiki/FAQ

Link added from WikiHome and Readme.md.

[2021-01-14 01:10] #221 closed

[2021-01-14 01:17] xiaomi7732 commented on #202
Hey @skwasiborski, sorry for the late reply. This is by design. This is due to the fact there's no cgroup on windows, (container or not), there's no way to detect the pod name automatically, we will have to make the user to set an environment variable to work. Reference the details [here](https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/WindowsContainer#write-the-k

[2021-01-20 23:09] feyanez opened #222 "Current field naming enters in conflict with Kusto's data ingestion"
Current naming convention for Kubernetes SDK's fields is not in compliance with the requirements by Kusto for data ingestion. In particular:
![image](https://user-images.githubusercontent.com/60495089/105251165-d8927700-5b2f-11eb-9d7d-a4992269550e.png)

For instance, in our case, the following fields are in conflict when Kusto attempts to create the tables since they were taken as "ID" and "Name"

[2021-01-22 17:53] xiaomi7732 commented on #222
To address the issue like it above, a meaningful way, for an SDK, is to allow customization of the telemetry names.

Consider adding options like this to allow pre-process for telemetry names:
[code]

[2021-01-25 19:48] xiaomi7732 commented on #222
The feature is added in [1.1.4](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.4). A wiki for the usage is here: [How to Customize Telemetry Property Names](https://github.com/microsoft/ApplicationInsights-Kubernetes/wiki/How-to-Customize-Telemetry-Property-Names).

[2021-01-25 19:48] #222 closed

[2021-01-25 20:08] xiaomi7732 commented on #49
Refer to https://github.com/microsoft/ApplicationInsights-Kubernetes/issues/221 for the solution.

[2021-01-25 20:08] #49 closed

[2021-01-26 18:32] #202 closed

[2021-04-01 23:45] xiaomi7732 commented on #208
Addressed in #224

[2021-04-01 23:45] #208 closed

[2021-04-01 23:51] xiaomi7732 opened #226 "Remove additional nuget sources"
It doesn't make sense anymore to rely on MyGet source for application insights SDK.

[2021-04-02 17:19] #226 closed

[2021-04-03 05:05] buzzaII opened #228 "Latest release takes a dependancy on some 5.0.0 and greater assemblies"
it seems the latest release takes some dependancies on these assemblies:

<PackageReference Include="Microsoft.Extensions.DependencyInjection" Version="5.0.1" />
<PackageReference Include="Microsoft.Extensions.Logging.Console" Version="5.0.0" />

These failed to load as these required .net 5.0

[2021-04-05 17:08] xiaomi7732 commented on #228
Hi @buzzaII Thanks for filing the issue.

Yes, there are packages of 5.x. However, those packages works with `.NETStandard 2.0`. There is no requirement of .NET 5.

Is there a specific failure indicating the packages are not working? If there is, would you mind provide the runtime info for troubleshooting by running:

[code]

[2021-04-05 17:16] xiaomi7732 commented on #228
And FYI, the dependencies are listed on NuGet:
[![image](https://user-images.githubusercontent.com/3674549/113602686-c0db7280-95f7-11eb-90a2-5c7e8c733312.png)](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.0)

[2021-04-06 06:06] buzzaII commented on #228
Found the issue - was due to Function App not loading up 5.0.0 aseemblies - thanks for the above info.

[2021-04-06 22:41] xiaomi7732 commented on #228
Oh~ Azure Function on Kubernetes wasn't in the picture.
@buzzaII Do I understand correct that your function app is a 3.x app and have dependencies on MS.Extensions.Configuration or MS.Extensions.DI 3.x.x, and since those were load first, runtime won't work when we try to load 5.x assemblies?

Does that mean you can't leverage AI.K8S (this package) until you upgrade the azure function app to 5.x? W

[2021-04-07 22:04] buzzaII commented on #228
That is correct, I was looking at attempting this work with the older version in function apps,

Thats correct, Azure Functions will load System.Diagnostics.DiagnosticSource < 5.0.0 before this kicks in. Its used by a lot of the bindings like CosmosDB, Http etc.

I was attempting to get the previous working (< 2.0.0) in Azure functions but the way it DI configured itself wasn't compatible with:

h

[2021-04-07 22:04] #228 closed

[2021-04-13 00:20] xiaomi7732 commented on #228
Try new release:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.1

[2021-04-14 20:55] v-shaaal opened #230 "Customizing Telemetry Property Names"
### Question:
Using Application Insights Kubernetes Enricher adds a few properties to the logs. Some of these are as follows:

- Kubernetes.Container.ID
- Kubernetes.Container.Name
- Kubernetes.Pod.ID
- Kubernetes.Pod.Labels
- Kubernetes.Pod.Name
- Kubernetes.Pod.Namespace

Is it possible to customize these property names?

### Why?
Our team is forwarding the Geneva logs to Kusto. Kusto, while ing

[2021-04-15 22:27] rogordon01 commented on #230
The feature is added in [1.1.4](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/1.1.4). A wiki for the usage is here: [How to Customize Telemetry Property Names](https://github.com/microsoft/ApplicationInsights-Kubernetes/wiki/How-to-Customize-Telemetry-Property-Names).

[2021-04-16 18:08] v-shaaal commented on #230
Thank you! This helps!

[2021-04-16 18:08] #230 closed

[2021-06-08 17:21] sekiyak opened #231 "Spinwait until pod is ready causing telemetry without Kubernetes properties"
There is a spinwait implementation initializing the Kubernetes properties for telemetry only after the pods get into ready state (https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/acbcbeb30d85ed2a7a8b2365b77d63aac82ba241/src/ApplicationInsights.Kubernetes/K8sEnvironmentFactory.cs#L160).

What is the reasoning behind this design? Currently, some of our application telemetry is missin

[2021-06-11 21:42] xiaomi7732 commented on #231
Hi @sekiyak, thanks for the feedback. Don't you have a concern that when the pod is not ready, the information there might be intermediate and end up pollute the diagnostic information?

[2021-06-11 23:57] sekiyak commented on #231
1. Yes, if the k8s properties are available before they are in ready state, it would be ideal if we can enrich the telemetry with them even before the ready state (best-effort if there is any chance they won't be available).
2. This is not a blocking issue for us, but until the pods are marked ready our applications are already live making requests during startup, i.e. health checks, getting ident

[2021-06-14 10:42] karthi-sn opened #232 "Application map not showing services running in Azure Kubernetes"
I have referred this article (https://docs.microsoft.com/en-us/azure/architecture/microservices/logging-monitoring, https://github.com/microsoft/ApplicationInsights-Kubernetes)

issue - Application map not showing any data about services running inside Azure Kubernetes
setup - have multiple services running in Azure Kubernetes, calling all those from API management, but only API management is show

[2021-06-14 10:47] karthi-sn commented on #232
application insight image
![image](https://user-images.githubusercontent.com/41871740/121880456-a7f3e980-cd2b-11eb-9531-2e41f8c17ddf.png)

services running inside Azure Kubernetes
![image](https://user-images.githubusercontent.com/41871740/121880767-0620cc80-cd2c-11eb-85d0-a6c900d13d45.png)

[2021-06-14 17:26] xiaomi7732 commented on #232
@karthi-sn thanks for the report. It doesn't seem like owned by this project.
@OsvaldoRosado Do you know where shall I redirect this issue to?

[2021-06-14 19:18] karthi-sn commented on #232
@xiaomi7732 what you mean by **_It doesn't seem like owned by this project_**
this issue is not related to this GitHub project?

[2021-06-14 21:54] xiaomi7732 commented on #232
Yes @karthi-sn Thanks for the ask. Here's my understand of the issue:

You want to see multiple dots showing up on application insights map for your services, one dot for one service, like what shows up in this [distributed tracing](https://docs.microsoft.com/en-us/azure/architecture/microservices/logging-monitoring#example-of-distributed-tracing), right? And what you are seeing is that there's on

[2021-06-15 07:42] karthi-sn commented on #232
@xiaomi7732
your right on what's my issue and what was I expecting, I'll check those and see is missing.

Thanks a lot for your detailed reply.

[2021-06-15 17:00] xiaomi7732 commented on #232
No problem. I'll close this issue for now. Feel free to file new issue if more help is needed.

[2021-06-15 21:11] xiaomi7732 commented on #232
@karthi-sn I heard back from @OsvaldoRosado offline. Here's a read about how application map works:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map?tabs=net#set-or-override-cloud-role-name

Quote a quick part that related:

Notice, the post is talking about manual cloudName overwriting, you may or may not need it according to what is already there on cloudName and does it fit your

[2021-06-15 21:33] 304NotModified opened #234 "GitHub release (or tag) 2.0.1 is missing"
There is a NuGet package with version 2.0.1 but the latest GitHub release is 2.0.0

[2021-06-15 22:23] xiaomi7732 commented on #234
@304NotModified Thanks for pointing that out. While I am trying to figure out which commit to tag it on, would you mind let us understand why those tags are important?

[2021-06-15 22:38] xiaomi7732 commented on #234
Anyway, new released added: <https://github.com/microsoft/ApplicationInsights-Kubernetes/releases/tag/2.0.1>

[2021-06-16 06:17] karthi-sn commented on #232
@xiaomi7732
Thanks for link, it answers my question, and I may know, what to do next.
Thanks again @xiaomi7732  @OsvaldoRosado , you guys are awesome.
and I'm closing this issue

[2021-06-16 06:17] #232 closed

[2021-06-16 17:16] #234 closed

[2021-06-16 19:29] 304NotModified commented on #234
Thanks!

The reason I asked:
- changelings are important for upgrading
- I think it's important to trace the implementation changes (e.g. for security)
- I think it's important to keep the NuGet and GitHub releases in sync. Otherwise it's a bit confusing

[2021-08-04 01:44] jimmyca15 opened #236 "AddApplicationInsightsKubernetesEnricher breaks ASP.NET Core IConfiguration reload notification system."
ASP.NET Core has a way to monitor configuration changes for the default IConfiguration registered in DI.

E.g.

[code]

Calling `services.AddApplicationInsightsKubernetesEnricher` in an ASP.NET Core application causes this reload notification to break.

Here is a simple [repro application](https://github.com/jimmyca15/k8ai-reloadrepro/blob/845c062019715c748e5fe1871ece66e410efd434/ReloadRepro/Start

[2021-08-19 00:34] xiaomi7732 commented on #236
Hi @jimmyca15 thanks for bring this up. I'll take a look.

[2021-08-30 22:56] xiaomi7732 commented on #236
@jimmyca15, checkout the new package with the fix:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.2-beta2

Thanks!

[2021-08-30 22:56] #236 closed

[2021-09-02 09:28] joakimglysingnobia opened #238 "Missing Kubernetes properties for some telemetry-types"
From what I can understand you're suppose to get the Kubernetes custom properties "on all your telemetry entries".

![image](https://user-images.githubusercontent.com/83009107/131818930-96167b2f-f2df-4b1f-bcbf-cd18b0a10b1d.png)

I've got it on some types but we're using Serilog to send Trace entries and Exceptions to Application Insights.
These are missing the Kubernetes-properties and I'm not sur

[2021-09-08 21:46] vivuu1989 opened #239 "ApplicationInsight not getting telemetry from AKS pods"
In Application insight and dashboards, we are getting telemetry from the API manager APIS. But in the same App insight we are not getting telemtry from the backend applications which is running in AKS pods and connected using instarumentation key as environment variables inside the containers. in the application pod logs we are getting the error as given below and its noticed that new releases of

[2021-09-09 08:04] vivuu1989 commented on #239
Any guidance on this issue?

[2021-09-21 15:43] cweining opened #240 ".NET Core Remote Code Execution Vulnerability This CVE ID is unique from CVE-2021-24112."
Microsoft is releasing this security advisory to provide information about a vulnerability in .NET 5.0, .NET Core 3.1, and .NET Core 2.1. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

A remote code execution vulnerability exists in .NET 5 and .NET Core due to how text encoding is performed.

Discussion
Discussion for this

[2021-09-22 07:42] joakimglysingnobia commented on #238
I've solved this by downgrading the AI-package and upgrading the Serilog-package.

[2021-09-22 07:42] #238 closed

[2021-09-23 14:27] macpak opened #242 "Is it possible to choose which properties to log into ApplicationInsight ?"
I can't find this but is it possible to log only specific properties ? (like pod/container name only)

[2021-09-27 18:40] xiaomi7732 commented on #242
@macpak, there's currently no way to specify which properties to include, it is all or nothing. That said, would you mind explain why would you not wanting some of the properties being there?
Thanks!

[2021-09-27 18:41] xiaomi7732 commented on #240
Tagging #241. Close.

[2021-09-27 18:41] #240 closed

[2021-09-27 18:45] xiaomi7732 commented on #239
This looks like an application insights SDK trying to reach the application insights ingestion. Tagging @TimothyMothra for help.

[2021-09-27 19:16] macpak commented on #242
Generally, I'd like to have all of them :)
The problem is that in our case, we do not have all the permissions to get all propertes.

When I enabled diagnostics, I saw some failed requests with HTTP 403.  Additiionally, it seems that when some properties can't be obtained, no logs are pushed to ApplicationInsights (at least that's what I've observed).

[2021-09-28 19:03] TimothyMothra commented on #239
The first error looks like the SDK is unable to connect to the Ingestion Service.
The SDK team won't be able to help here, this is likely a network setting in this environment.
We have a PowerShell script [here](https://github.com/microsoft/ApplicationInsights-dotnet/tree/develop/troubleshooting/Ingestion) that you can use to test your network connection.

The second error appears to be unrelated

[2021-10-28 12:58] jmcdade11 opened #243 "Missing Properties in Trace Telemetry"
I've confirmed I can see the properties on all telemetry but Traces.

Current versions at play:

Microsoft.ApplicationInsights.AspNetCore 2.17.0
Microsoft.ApplicationInsights.Kubernetes 2.0.1
Serilog.Sinks.ApplicationInsights 3.1.0
Serilog.AspNetCore 4.1.0

[code]

[code]

Similar issue to #238

[2021-10-28 16:16] #243 closed, assigned to nobody

[2021-11-02 14:47] andrejpk opened #244 "Move to OpenTelemetry?"
Azure Monitoring [is moving to OpenTelemetry as the future of instrumentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/opentelemetry-overview)

Azure SDK tooling is also moving that way
.NET SDKs: [Experimental](https://devblogs.microsoft.com/azure-sdk/introducing-experimental-opentelemetry-support-in-the-azure-sdk-for-net/)
Java SDKs: [Beta](https://docs.microsoft.com/en-us/java/

[2021-11-30 18:20] magedfarag opened #245 "Any plans to support .Net Framework 4.8"
Dears,

I'm running a critical application on .Net Framework 4.8, and hosted on AKS Windows Container, are there is any alternatives or version that provide same functionalities for Windows Containers ?

[2021-12-22 16:22] pkoelbl opened #246 "Not compatible with cgroupv2"
This is not compatible with cgroupv2 and causes an error when initializing Application Insights Kubernetes
KubeHttpClientSettingsProvider.cs line 25 string pathToCGroup = @"/proc/self/cgroup"

See this for details
https://stackoverflow.com/questions/68816329/how-to-get-docker-container-id-from-within-the-container-with-cgroup-v2

[2022-01-17 11:09] emanuelpaul commented on #236
@xiaomi7732 is it possible to create a release version ? it seems to work fine but it's a bit confusing that only pre-release package exists with this fix.

[2022-01-21 21:39] xiaomi7732 commented on #245
Hi @magedfarag Thanks for the ask. This library is built on .NET Standard 2.0 and should work on .NET Framework 4.8 on Windows container already. Refer to this example:

https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/WindowsContainer

[2022-01-21 21:39] xiaomi7732 commented on #245
Feel free to open issues if there's any concrete issue.

[2022-01-21 21:39] #245 closed

[2022-01-21 22:02] xiaomi7732 commented on #246
Hi @pkoelbl Thanks for the reporting.

I tried it on docker 20.10.10 with the latest alpine and it appears still working:

![image](https://user-images.githubusercontent.com/3674549/150605969-75ef222f-f3d9-4512-82fd-c3c657797787.png)

Is there anything else needed to reproduce the issue? Thanks!

[2022-01-21 22:10] xiaomi7732 commented on #236
Totally possible. I'll make that happen ASAP.

[2022-01-25 09:19] emanuelpaul commented on #236
Thank you !

[2022-01-26 19:35] xiaomi7732 commented on #231
The current implementation won't block application insights events even when they are not enhanced. If the events aren't there, there's other things going on. A quick way to tell: put application insights SDK on without enable the enhancer.

I'll close this conversation for now due to no actionable item. Feel free to start new issue, referencing this one if related.

@sekiyak thanks for the discus

[2022-01-26 19:35] #231 closed

[2022-02-15 14:44] pkoelbl commented on #246
I am on a Mac using Docker Desktop 4.4.2(73395) Docker engine 20.10.12 with Kubernetes 1.22.5 enabled. Using kubernetes to create the pod. Using mcr.microsoft.com/dotnet/aspnet:5.0-buster-slim as the base image. When i connect to the pod and look at the cgroup file it is empty.

[2022-02-15 14:55] pkoelbl commented on #246
The app is also running as a non-root user.

[2022-02-15 18:51] xiaomi7732 commented on #246
@pkoelbl Thanks for the update. We will look into that.

[2022-02-15 18:57] xiaomi7732 commented on #246
@pkoelbl I updated the env (Docker Desktop: 4.5.1, Engine: 20.10.12, K8s:1.22.5), am still able to access cgroups:

[code]

Yes, I am running as root there, and that makes me think, maybe the problem is not about cgroup, it is about permission. Do you mind run the same command in your environment just to see what if you have `root`?

[code]

[2022-02-15 20:40] pkoelbl commented on #246
When running that I get
`root@c70c50bfc108:/# cat /proc/self/cgroup
0::/
root@c70c50bfc108:/# `

[2022-02-15 20:50] pkoelbl commented on #246
This started happening when I did a clean install of docker after reloading my Mac. So it may be a matter of a setting that isn't there anymore in docker 20.10.12 but would be left over from an upgrade from a previous version

[2022-02-15 22:07] pkoelbl commented on #246
In the file `~/Library/Group\ Containers/group.com.docker/settings.json`
I set `deprecatedCgroupv1` to true then restarted docker and it fixed the problem.

However given the name of that variable, it looks like Docker is in the process of deprecating cgroup v1. So this will become a problem again in the future.

[2022-02-16 18:32] xiaomi7732 commented on #246
@pkoelbl Thank you for figuring that out. You point about deprecating cgroupv1 is well taken. We will need to understand how to make it work with cgroupv2 or find out some other ways to get the same information. I will keep this issue active until we have a solution.

[2022-02-16 18:34] xiaomi7732 commented on #246
Also, clues are welcome about how to fetch the container id alternatively. Please comment!

[2022-03-16 06:00] NivedhaL20 opened #248 "Disable Performance Counters"
I have enabled Application Insights for Kubernetes using the below code snippet in Startup.cs

services.AddApplicationInsightsTelemetry();
**services.AddApplicationInsightsKubernetesEnricher(opt =>
                opt.DisablePerformanceCounters = true
            );**

I tried to disable performance counters which insert records in Perf Table. But I could not able to disable using the above code.

[2022-03-16 19:12] xiaomi7732 commented on #248
Hi @NivedhaL20 , are you looking for ways to turn off Performance Counters for environment? Is it windows container?

Please help me understand what your goal is.

Basically, AI.K8s doesn't control the enable/disable of perf counters. It gathers and set value to the Telemetry object in application insights, and when you set `DisablePerformanceCounters`, it means: do not gather or set the value for

[2022-03-17 19:03] xiaomi7732 commented on #248
@NivedhaL20 I see. I think you are trying to disable performance counter gathering totally. That is not controlled by AI.K8s. We need to find the proper owner to see if that is doable. @TimothyMothra, do you know whom shall we contact for help?

[2022-03-17 19:50] xiaomi7732 commented on #248
@NivedhaL20 The core application insights SDK is the right team. Please open an issue with them:
https://github.com/microsoft/ApplicationInsights-dotnet/issues/new/choose

If possible, it would be great if you could link back the info to the new issue here. Thank you!

[2022-03-18 21:13] xiaomi7732 commented on #239
Close this due to no activity.

[2022-03-18 21:13] #239 closed

[2022-03-18 21:16] xiaomi7732 commented on #179
Close due to not actionable.

[2022-03-18 21:16] #179 closed

[2022-03-25 21:43] xiaomi7732 commented on #248
Close this one for now. Feel free to open new issues.

[2022-03-25 21:43] #248 closed

[2022-03-25 22:44] xiaomi7732 commented on #246
NuGet package: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.3-beta1

[2022-03-25 22:47] xiaomi7732 commented on #214
Close this one due to no lack of activity. Feel free to file new issue if the problem is still there. Also, try out the fallback for getting container id: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.3-beta1

[2022-03-25 22:47] #214 closed

[2022-03-25 22:49] xiaomi7732 commented on #213
Close due to no activity. Please feel free to open new issues.

[2022-03-25 22:49] #213 closed

[2022-03-27 10:42] NivedhaL20 commented on #248
Thanks @xiaomi7732.. 👍

[2022-04-14 13:01] ncoussemacq commented on #211
Hi

I acutally have the same need. I have APIs and worker services running in different pods in AKS, all with ApplicationInsights-Kubernetes registered.
Telemetry coming from APIs are properly tagged with kubernetes properties but my custom telemetry coming from background workers are not enriched with kubernetes properties. Any way to make this work ?

[2022-04-14 16:19] xiaomi7732 commented on #211
@ncoussemacq That is interesting. @ncoussemacq, do you mind providing more information for troubleshooting. Primarily need to understand how is the TelemetryConfiguration handled by:
1. Is it possible to share a copy of the worker code? If not:
2. Is it possible to share some code snippets around:
    1. How is application insights turned on?
    2. How is ApplicationInsights.Kubernetes (this libr

[2022-04-15 18:46] xiaomi7732 commented on #211
I have crated an example of `ApplicationInsights.Kubernetes` working in worker. PR submitted here:
https://github.com/microsoft/ApplicationInsights-Kubernetes/pull/250. Please see if it helps clear up the steps needed for it to work. Feel free to leave comment for clarification.

[2022-04-18 19:23] xiaomi7732 commented on #211
Please refer to [Application Insights Kubernetes Example (Worker)](https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/WorkerExample) for how to make it work in workers.
Close this issue for now. Feel free to open new issues for any other questions.

[2022-04-18 19:23] #211 closed

[2022-04-18 19:29] xiaomi7732 commented on #212
Hi @SanthoshMedide, could you please try open an issue at: https://github.com/census-instrumentation/opencensus-python? I am going to close this one since it is not very actionable on this repo. Feel free to open new issues when needed.

[2022-04-18 19:29] #212 closed

[2022-05-09 08:18] drauch opened #251 "Is this extension supported on AKS with Windows nodes?"
I'm not sure about it due to #172 , do we have to add some additional configuration not shown in the sample code? Does it "just work"?

Best regards,
D.R.

[2022-05-10 09:21] drauch commented on #251
OK, thank you, sounds great!

One question though:
[code]
Why is that needed? According to the official docs, this is a property for .NET Core 2.x only, do we need it with 6.x too?

[2022-05-10 09:22] drauch commented on #251
In https://github.com/dotnet/aspnetcore/issues/3310#issuecomment-404986286 they even say that support for this property has been removed.

[2022-05-10 16:47] xiaomi7732 commented on #251
Hey @drauch Thanks for noticing that. That is correct that it is not needed any more if you are using .NET Core 2.1 +, and surely for .NET 6. I am thinking about putting a tip/notes in the example documentation to state it clearly.

Do you want to submit a PR for it? Or I can update it. Let me know. Thanks again for noticing it.

[2022-05-13 09:21] drauch commented on #251
Unfortunately I don't have the time for a PR.

[2022-05-13 17:47] xiaomi7732 commented on #251
Thanks for the reply. I'll submit one. Thank you again for the feedback!

[2022-05-13 21:20] xiaomi7732 commented on #251
PR submitted. I'll close this issue since there's no other immediate action. Feel free to open new issues.

[2022-05-13 21:20] #251 closed

[2022-05-18 07:56] srivathsanvlb opened #253 "Kubernetes related properties are not coming up in App insights"
I am doing the below steps.

1. I have created a simple .NET 6 console app as below

[code]

2. I have dockerized the above app and have placed it in a AKS cluster.

3. The logs that I have written are appearing correctly. But no Kubernetes related information similar to [this](https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/docs/TelemetryEnhancement.png) is showing up.

<

[2022-05-18 17:51] xiaomi7732 commented on #253
Hi @srivathsanvlb, thanks for filing the issue. It is an interesting scenario.

It looks like you are trying to use application insights for a console application. But it is not implemented as worker service. Is there a reason for that? I ask that because we have a paved worker example (.NET 6 console):

* https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/WorkerExam

[2022-05-18 22:06] microsoft-github-policy-service[bot] opened #255 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 05:12] srivathsanvlb commented on #253
Hi @xiaomi7732,

It is just a regular console app for a proof of concept. I was referring to [this](https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/examples/BasicConsoleAppILogger/Program.cs) sample. No plans of converting to a worker service as of now. But any way will give  a check if that is solving my problem.

[2022-05-19 08:59] srivathsanvlb commented on #253
I will try deploying [this ](https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/WorkerExample) and see.

[2022-05-19 09:54] srivathsanvlb commented on #253
I deployed [this](https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/WorkerExample) "as-is" to my docker desktops kubernetes cluster , only getting the below. Nothing related to K8s is seen in App insights.

![image](https://user-images.githubusercontent.com/35536827/169266019-0c362287-0e69-4aca-b95e-4b3fa96dc3bc.png)

What am I missing? Faster response would be appr

[2022-05-19 11:31] srivathsanvlb commented on #253
I ran this one https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/examples/BasicUsage_clr21_RBAC/k8s/saRole.yaml and I am getting the Kubernetes related properties

[2022-05-19 15:42] #255 closed

[2022-05-19 22:18] xiaomi7732 opened #257 "Self-Dialogistic logging error for container id fetchers"
The implementation relies on `stirng.Format` to work per [this line of code](https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/53733ef378f73c4e4ec653eddbef5d6943a5e3d4/src/ApplicationInsights.Kubernetes/Debuggings/ApplicationInsightsKubernetesDiagnosticSource.cs#L98).

However the caller is misusing the placeholders. For example:
* [Here](https://github.com/microsoft/ApplicationInsi

[2022-05-20 00:15] xiaomi7732 commented on #253
There a several issues.

1. It looks like the console application with ILogger example is not working anymore - **more time is needed for investigating why**;
1. The worker / console was reported not working
    1. The issue is lack of service account role assignments - thanks @srivathsanvlb for spotting it.
    2. There is a regression for self-diagnostics code to work, introduced in #247, a quic

[2022-05-20 04:16] srivathsanvlb commented on #253
Ok sure. You can continue your investigations keeping this thread open. FYI, I got what I wanted. Thanks.

[2022-05-20 18:30] xiaomi7732 opened #259 "$HOSTNAME shall match the pod name, not container id"
By observation: we have been falling back to use $HOSTNAME as the container id while it should be pod name.
Investigate to see which one is more correct.

[2022-05-20 18:52] xiaomi7732 commented on #253
Hey @srivathsanvlb, just so that you know, the console application example has been updated. The telemetry initializers stopped being picked up automatically, there's a small code change needed to make it work. Details in PR #260. Basically, need to update the configure code like this:

[code]

Now that the investigation is done, I'll close this one. Feel free to open new issues.

Thanks again for

[2022-05-20 18:52] #253 closed

[2022-05-20 19:39] xiaomi7732 commented on #259
Official Docs from K8s: https://kubernetes.io/docs/concepts/containers/container-environment/#container-information

[2022-05-21 00:21] xiaomi7732 opened #261 "Look into special case the 403 exception to prompt for RBAC settings"
* It is a common issue that is going to happen for RBAC enabled K8s
* It is pain to notice that with the need of enabling self-diagnostics

[2022-05-21 00:23] xiaomi7732 opened #262 "Look into using options to determine whether to show diagnostic logs or not"
Is it possible to turn on the self-diagnostics easier?

- [x] Code updated
- [x] Change released
- [x] Documentation updated

[2022-05-21 00:26] #257 closed

[2022-05-21 01:24] xiaomi7732 commented on #262
Turn out to be a simple change

[2022-05-23 04:50] srivathsanvlb commented on #253
Thanks @xiaomi7732. Appreciate it.

[2022-05-23 18:21] xiaomi7732 opened #265 "Refresh all examples to .NET 6"
The current position of [examples](./examples) are a bit awkward:

* They have been out of date (.NET Core 2.0 projects).
* The are unnecessary complex (A lot of ASP.NET Core MVC projects).

I think we shall learn the lesson:

I am proposing we providing new examples based on most simple project types that make sense:

- [x] WebAPI for ASP.NET Core (The bootstrap for WebAPI is the common base for

[2022-05-23 18:39] xiaomi7732 commented on #244
Hey @andrejpk thanks for filing the issue and sorry for the late reply.

Ever since the release of the beta package of [Azure.Monitor.OpenTelemetry.Exporter](https://www.nuget.org/packages/Azure.Monitor.OpenTelemetry.Exporter) , there hasn't been too much progress. I am concerned about the adoption rate.

Java SDK seems have more beta releases but the usage on the maven repo is also not high: http

[2022-05-23 18:41] xiaomi7732 commented on #259
Also a chance to resolve #172

[2022-05-23 21:36] karolz-ms commented on #265
Overall I think it is a great idea! 👍

With regards to minimal API vs controller-style: ideally we should have at least one example of each kind. The reason is , doing greenfield development, minimal API might be more popular, but there is a lot of existing apps that use controller-style and might need to be moved to K8s. (channeling ASP.NET PM here)

[2022-05-23 22:50] xiaomi7732 opened #266 "Unit test is failing"
Due to #264 , unit test failed because of the signature change.

* Also look into why we don't have a PR build before merging.

[2022-05-24 17:22] xiaomi7732 commented on #265
Hi @karolz-ms I think that is a good idea!

[2022-05-24 17:36] xiaomi7732 commented on #266
Unit test fixed. GitHub action is set up. PR #268 for tracking. Close this one.

[2022-05-24 17:37] xiaomi7732 commented on #262
Enqueue for testing. Waiting for releasing.

[2022-05-26 15:41] xiaomi7732 opened #271 "Update the doc for using the new way to enable self-diagnostic logs"
Diagnostic logs are easier than ever by #262 , update the documentation to reveal the change.

[2022-05-26 15:42] #271 closed

[2022-05-26 22:08] xiaomi7732 commented on #261
Addressed with PR #270

[2022-05-26 22:25] xiaomi7732 commented on #246
That wasn't the right fix.

I didn't realize `cgroupv2` is blocking accessing container id totally. The impact is bigger than expected:

* **ContainerID** can't be fetched through cgroup anymore. There doesn't seem like a stable work-around either;
* **ContainerName** won't be fetched if container can't be located inside a pod;

I am re-open this issue for investigation.

[2022-05-26 22:37] xiaomi7732 commented on #246
By searching, maybe `/proc/self/mountinfo` is a place to fetch the container id:

[code]

[2022-05-27 21:24] pkoelbl commented on #246
yes the mountinfo should do the trick

[2022-05-27 23:41] xiaomi7732 opened #274 "Planning on 3.0 Package"
📢 3.0.0 is released: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/3.0.0

==

`Application Insights Kubernetes` has been developed for quite a while backing into days of `.NET Core 1.x`. As time goes by, tech develops, so do we as developers.

I file this issue looking into chances for a big refactor into 3.0 by integrating more mature technologies, more reliable implemen

[2022-05-27 23:43] xiaomi7732 commented on #262
Released in <https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.4-beta1>. Document PR: #271.

[2022-05-31 18:00] xiaomi7732 opened #275 "Investigate Support containerD and maybe the other container runtimes"
K8s doc:
* https://kubernetes.io/docs/setup/production-environment/container-runtimes/

[2022-05-31 22:38] xiaomi7732 commented on #275
At the end of the day, the question is:

* how to get container id from with in the running container?

`/proc/self/cgroup` has been giving us a good run but the mechanism is falling apart as cGruopV2 kicks in.

From docker container side, it is asked, not too much progress moving forward:

* https://github.com/opencontainers/runtime-spec/issues/1105

From K8s side, there is no conclusion either:

[2022-05-31 22:59] xiaomi7732 commented on #275
Another related issue, although on imageId, not containerId: https://github.com/kubernetes/kubernetes/issues/80346

[2022-06-06 18:35] xiaomi7732 commented on #246
@pkoelbl Hey, the fix is released in https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.4-beta2. Give it a try and let us know. Thanks for the contribution. I'll close this issue for now. Feel free to re-open or file new ones.

[2022-06-06 18:35] #246 closed

[2022-06-06 18:35] #261 closed

[2022-06-06 19:03] #262 closed

[2022-06-06 19:11] xiaomi7732 commented on #275
We landed at the point that supports cgroupv1 and cgroupv2 with the most common runtimes (containerD and docker engine.

Package released: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.4-beta2

[2022-06-06 19:11] #275 closed

[2022-06-06 20:59] xiaomi7732 opened #276 "Refactor: Make container id optional"
We have been using container id to locate pod name. It worked well except container id is not always within a container. In that case, allows a way to making the enhancement work without container id info is still preferrable.

[2022-06-07 01:19] xiaomi7732 opened #277 "Make container id optional when pod name is provided."

[2022-06-07 01:20] xiaomi7732 commented on #277
Dup of #276.

[2022-06-07 01:20] #277 closed

[2022-06-08 18:19] xiaomi7732 commented on #8
Although the pull model is not ideal, it has been working. Watch, in theory, works better, the reliability is still a concern. Refer to issues like this for an example: https://github.com/kubernetes-client/csharp/issues/884.

[2022-06-10 18:23] xiaomi7732 opened #278 "Revisit hosting startup scenario with GenericHosts (Microsoft.Extensions.Hosting)"

[2022-06-10 22:00] xiaomi7732 commented on #278
* It looks like before 7.0, there won't be improvement in the field:
  * https://github.com/dotnet/runtime/issues/36394
  * https://github.com/dotnet/runtime/issues/61634

There are small implementation details that could be improved though. See related PRs.

[2022-06-14 22:46] xiaomi7732 opened #281 "Backport the hosting start up changes in 3.0 to 2.x"
No break change there, fixing minor issues.

[2022-06-22 00:49] xiaomi7732 commented on #146
Another guide is added: https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/docs/configure-rbac-permissions.md

[2022-07-13 01:44] xiaomi7732 commented on #276
* Container id becomes optional for telemetries
    *  On Linux, since the container id is auto detected, when it is not available, a warning is issued;
        * There are 3 ways to get a container id included in the telemetry:
		1. The user explicit sets the environment variable of `ContainerId`.
            1. Auto detect.
            1. Fallback: There is only 1 container inside the pod, that

[2022-07-15 19:02] xiaomi7732 commented on #259
Addressed by #276

[2022-07-15 21:22] xiaomi7732 commented on #281
Package released: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.4-beta3

[2022-07-15 21:22] #281 closed

[2022-07-15 21:22] xiaomi7732 commented on #259
Package released: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.4-beta3

[2022-07-15 21:22] #259 closed

[2022-07-19 18:41] xiaomi7732 opened #286 "Remove CPU/memory metrics."
Drop support for non-core services. CPU/memory metrics does not scope in core goal of providing K8s related properties to telemetry.

[2022-07-19 18:41] xiaomi7732 commented on #286
Tracked by branch: dev/saars/3.0-remove-cpu-metrics

[2022-07-21 17:11] #286 closed

[2022-07-21 17:11] #276 closed

[2022-07-22 16:59] xiaomi7732 opened #288 "Use `KubernetesClient` to query K8s info."
I am halfway through this work item. While this will simplify our code eventually, it will be a relative large change for code reviewing, including unit test changes.

To reduce the stress on code reviewers, here are some manual tests that I will finish before submitting a PR:

- [x] Run in K8s Cluster without RBAC
- [x] Run in K8s Cluster with RBAC on
    - [x] With proper RBAC permission for the

[2022-07-22 22:55] xiaomi7732 commented on #172
Manual Pod name is not required anymore as long as the hostname returns correct pod name.
Fix released: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.4

[2022-07-22 22:55] #172 closed

[2022-07-22 22:56] xiaomi7732 commented on #170
The docker image is not popular on linux anyway. Based on the recent change that makes self-diagnostic easier, it is less needed for the container. Close this issue. Feel free to file new issue if you need more support.

[2022-07-22 22:56] #170 closed

[2022-08-05 23:52] xiaomi7732 opened #290 "Container id mismatch for ContainerDEngine by MiniKube (cGroupV2) - needs more investigation"
It looks like the implementation has already changed that the container id we got from the mountinfo doesn't match the container id in a K8s cluster.

Here's an example:

Info by inspecting the container id:
[code]

Info by fetching the mount info:

[code]

[2022-08-11 13:57] SantoshG-Derivco commented on #290
I'm experiencing a similar issue

Info from log
[code]

info from k8 K8sPod.Status.ContainerStatuses
[code]

Detected ContainerId from CGroupContainerIdProvider `cri-containerd-5146b2bcd77ab4f2624bc1fbd98cf9751741344a80b043dbd77a4e847bff4f06.scope` vs value from k8 API `containerd://f3a16a3fb5f20e848f1eda36693c3833ab3b03b720f690a32865163cee002fb6` mismatch

Version:
Microsoft.ApplicationInsights.K

[2022-08-11 16:00] xiaomi7732 commented on #290
@SantoshG-Derivco, thanks for the input.

[2022-08-11 17:55] SantoshG-Derivco commented on #290
@xiaomi7732 I'm using a containerd runtime engine.

It is blocking as the only alternative I have is to find some way to set ContainerId env var to the correct ID so that `EnvironmentVariableContainerIdProvider` would use that instead of the value from CGroup.

I do get pod name by environment variable HOSTNAME which is correct.

NB. I'm using a Linux image.

[2022-08-11 18:10] xiaomi7732 commented on #290
@SantoshG-Derivco, great! According to [this line of code](https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/15d5b8868d60b706711b2801bda461c27ca550dc/src/ApplicationInsights.Kubernetes/K8sEnvironmentFactory.cs#L74), there is still a chance for the proper container id to be used, considering the yaml you pasted with only 1 container status. Is that not happening?

Expecting to see a

[2022-08-12 06:41] SantoshG-Derivco commented on #290
@xiaomi7732 unfortunately while the k8 response had 1 container in the status, I did not get that log message.

I believe this is due to the fact that the `CGroupContainerIdProvider` did process a container id how ever the container id that it processed was prefixed with `cri-containerd-` and suffixed with `.scope` which was not discarded by the regex, the value in between the prefix and suffix wa

[2022-08-12 17:58] xiaomi7732 commented on #290
Oh~ I am sorry, I misread the important information - the container id, in your case, is actually there, mixed in with prefix/suffix. That makes the case easier to deal with. I'll see if I can issue a quick fix to it. Thank you for pointing it out.

[2022-08-12 19:35] xiaomi7732 opened #292 "Container id found by cgroup requires normalization"
An issue related to #290, reported by [SantoshG-Derivco](https://github.com/SantoshG-Derivco).

TL;DR
* In cGroupV1, **container id** info: 6:cpuset:/kubepods.slice/kubepods-burstable.slice/kubepods-burstable-pod3e221707_600c_4eb1_8fe7_a9a7163a1278.slice/cri-containerd-5146b2bcd77ab4f2624bc1fbd98cf9751741344a80b043dbd77a4e847bff4f06.scope
* The **matched** container id: cri-containerd-**5146b2bcd7

[2022-08-12 23:22] xiaomi7732 commented on #292
- [ ] Fix in 2.x
- [ ] Fix in 3.x

[2022-08-15 21:29] xiaomi7732 commented on #292
This issue should have been addressed in [2.0.5-beta1](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.5-beta1). Please check it out.

I'll keep this issue open until the same functionality has been forward port to 3.0.

[2022-08-16 07:33] SantoshG-Derivco commented on #292
@xiaomi7732 I've tested [2.0.5-beta1](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.5-beta1) and all looks good thanks 😄

[2022-08-16 16:43] xiaomi7732 commented on #292
@SantoshG-Derivco Thanks for the confirmation. It is important for us to know that it works for you :-).

[2022-08-18 18:44] #288 closed

[2022-08-19 13:05] blushingpenguin commented on #290
Not having a container id causes an exception to be thrown:
[code]

This didn't used to be an error -- the code that handles the case of a missing container id (e.g. where there is only one container) doesn't get a chance to run now.
None of the detection methods for the container id seems to be applicable in my case,

[code]

[2022-08-19 15:29] xiaomi7732 commented on #290
Hi @blushingpenguin, thanks for the feedback with the callstack. I'll check what is going on. Which version are you using BTW?

[2022-08-19 15:42] xiaomi7732 opened #297 "Exception thrown upon detecting container id failure"
This is reported by @blushingpenguin in #290.

TL;DR - when auto-detection for the container id failed, an exception is thrown, breaking the working flow. The expectation is for a string.Empty to be returned as the container id.

- [x] Fix in 2.x
- [x] Verify if the same fix is needed in 3.x.

Copy of the callstack provided:

[code]

[2022-08-19 15:44] blushingpenguin commented on #290
that was with 2.04 -- 2.03 works
[code]

also from kubectl get pod -o yaml:
[code]
I had a poke around in /proc and /var but I couldn't find that container id anywhere

[2022-08-19 16:04] xiaomi7732 commented on #297
@blushingpenguin PR ready for review. Check out #298 for details.

[2022-08-19 18:30] xiaomi7732 commented on #297
Fix released at: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.5-beta2. Please give it a shoot. Thanks!

[2022-08-19 18:35] xiaomi7732 commented on #297
And FYI, it looks like the same issue won't be there for 3.0:

* https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/44609e0c740397a237388bd7b908aef771818ca0/src/ApplicationInsights.Kubernetes/Containers/ContainerIdHolder.cs#L66

But it is probably better to have a log entry like it in 2.x. I'll submit another PR for that.

[2022-08-19 21:24] xiaomi7732 commented on #297
Piggybacked the change in #296 for 3.0

[2022-08-24 19:27] xiaomi7732 commented on #265
All examples planned have been updated. Close this issue. Please open new issues if you want examples for other scenarios.

[2022-08-24 19:27] #265 closed

[2022-08-24 23:53] xiaomi7732 commented on #297
Hey @blushingpenguin, do you mind verifying if 2.0.5-beta2 fixed it for you? I will try to make it a stable release once I hear back from you.

[2022-08-26 01:15] xiaomi7732 opened #301 "Leverage BackgroundService to bootstrap K8sEnv factory."

[2022-08-26 01:15] xiaomi7732 opened #302 "Use cancellation token for timeout"

[2022-08-29 18:06] xiaomi7732 commented on #297
Stable package released:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.5

[2022-08-29 18:06] #297 closed

[2022-08-29 18:06] xiaomi7732 commented on #292
Stable package released:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.5

[2022-08-29 18:06] #292 closed

[2022-08-30 08:12] Basvdlouw opened #303 "Support SDK without ClusterRole permissions"
Currently the SDK only works within an RBAC environment when a ClusterRole is defined. Within our setup we cannot define ClusterRoles.
We would like to use regular Roles/RoleBindings. The "nodes" resource requires ClusterRole permissions, but the rest of the resources that are logged do not. We should still be able to log this information to app insights instead of getting an unauthorized exceptio

[2022-08-31 00:51] xiaomi7732 commented on #303
@Basvdlouw Thanks for the feedback. It is very specific and that is helpful. Let me do some investigation around it.

[2022-09-02 17:16] #302 closed

[2022-09-02 17:16] #301 closed

[2022-09-02 17:48] xiaomi7732 commented on #303
Hey @Basvdlouw, it turned out to be a minor tweak and the change is released in: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.6-beta1
Mind giving it a try to see if that works for you?

Here's an example we used to set up the RoleBinding: https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/docs/sa-role-none-cluster.yaml

Again, thanks for your co

[2022-09-05 08:37] Basvdlouw commented on #303
Hi @xiaomi7732, I've tested it and it works as expected.
Thanks for the quick fix

[2022-09-06 04:17] #303 closed

[2022-09-06 16:43] xiaomi7732 opened #306 "Drop the direct dependency on Newtonsoft.Json"

[2022-09-06 18:02] xiaomi7732 commented on #306
Dropping it from our codebase is easy.
However, Newtonsoft.Json has been dependent of KubernetesClient/6.0.26. The chain looks like:

MS.ApplicationInsights.Kubernetes -> KubernetesClient/6.0.26 -> Microsoft.Rest.ClientRuntime/2.3.23 -> **Newtonsoft.Json/10.0.3**

Details:

[code]

[code]

A potential alternative would be to bump up version of ` KubernetesClient` to a newer version (7.x), which st

[2022-09-06 19:31] xiaomi7732 commented on #306
Another alternative considered was to request Microsoft.Rest.ClientRuntime to drop dependency on NewtonsoftJson, which doesn't seem to happen. See details in conversation: https://github.com/Azure/azure-sdk-for-net/issues/30957.

[2022-09-08 22:18] xiaomi7732 opened #308 "Revisit service lifetime with DI"

[2022-09-08 23:08] #308 closed

[2022-09-08 23:08] #306 closed

[2022-09-09 17:59] xiaomi7732 opened #310 "Check & tight up the public API surface"

[2022-09-09 23:19] xiaomi7732 opened #312 "Expose K8s info for customer consumption"

[2022-09-12 18:10] #312 closed

[2022-09-12 18:10] #310 closed

[2022-09-12 22:06] xiaomi7732 commented on #242
All the properties are made optional except the Pod. Please check out https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/2.0.6-beta1
Or
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/3.0.0-beta2

[2022-09-12 22:06] #242 closed

[2022-09-16 18:05] xiaomi7732 opened #315 "Improve NuGet package Readme"

[2022-09-16 21:14] xiaomi7732 commented on #114
Fixed in #289

[2022-09-16 21:14] #114 closed

[2022-09-16 21:16] #315 closed

[2022-09-16 21:16] xiaomi7732 commented on #315
Addressed in #316.

[2022-09-21 14:57] kbocock-krg opened #317 "npm or pip package"
Hello is there a comparable npm or python package available?

[2022-09-21 17:27] xiaomi7732 commented on #317
Hi, @kbocock-krg Thanks for the question. Could you please ask the question there: https://github.com/microsoft/ApplicationInsights-node.js
It would also be helpful if you could explain your scenario and the features that you were looking into.

[2022-09-27 18:05] xiaomi7732 commented on #317
Close due to no activity.

[2022-09-27 18:05] #317 closed

[2022-10-07 17:52] #274 closed

[2022-10-10 08:38] Ian1971 opened #320 "Is it possible to drop dependency of AutoMapper/10.1.1?"
As automapper is a fairly ubiquitous library, forcing a version change is problematic.
It seems that KubernetesClient 6.0.26 has a dependency on Automapper, but later versions of it do not. Can this library have the KubernetesClient upgraded?

[2022-10-10 18:27] xiaomi7732 commented on #320
@Ian1971, Thanks for bringing this up. Technically, it is doable. This is the current dependency tree, it looks easy enough by just bumping up the version of KubernetesClient to 7.2.x.

![image](https://user-images.githubusercontent.com/3674549/194930099-00701524-6ad0-4071-a77f-dc3f1105e80b.png)

That said, this is trickier than I had expected:

According to [Support Period](https://kubernetes.io/

[2022-10-11 08:22] Ian1971 commented on #320
That all sounds fine. For now, we have stuck with the older version of App Insights for Kubernetes (2.0.6).
For some of our services which currently use an older version of Automapper the new version would cause us to have to upgrade AutoMapper. Obviously, we want to do that at some point, but to do it now would have been more change than we anticipated in order to get better logging for Kubernete

[2022-10-11 17:35] xiaomi7732 commented on #320
I see. Let me repeat what you said so that we are on the same page: the problem is that 3.0 package references KubernetesClient/6.0.26, then references AutoMapper/10.1.1. And that would force your project to upgrade to AutoMapper>= 10.1.1. And that would cause problems for your project, sounds right?

Thank you for letting us know.

That makes sense.

I'll keep this issue open tracking for us to b

[2022-10-14 17:20] xiaomi7732 commented on #320
Hi @Ian1971, I was looking into bumping up K8sClient and found out that `AutoMapper/10.1.1` is always on the dependency chain even with the latest version. Here's what the dependency chain looks like with `KubernetsClient/9.0.28`:

![image](https://user-images.githubusercontent.com/3674549/195904459-68f94757-6968-47cf-a7cc-f677c68c6fd8.png)

We'd like to bump up the client version anyway, but it w

[2022-10-14 17:49] xiaomi7732 opened #321 "Bump up KubernetesClient to 7.2.19 from 6.0.26"
According to [Support Period](https://kubernetes.io/releases/patch-releases/#support-period), K8s 1.22 will be out of support on 10/28/2022.

And according to [Version Compatibility](https://github.com/kubernetes-client/csharp#version-compatibility), it is safe to drop KubernetesClient 6.x then.

[2022-10-15 10:56] Ian1971 commented on #320
I think we will just have to upgrade automapper, and stick with the older version of this library until we can.

[2022-10-17 08:33] EPinci opened #323 "Upgrading to v3.0.0: Scoped service of Container id providers got captured by singleton of container id holder - breaks at runtime when scope validation is on"
Hi, got a weird one in here.
Upgrading from v2.0.6 to v3.0.0 seems to break tests in Linux only (?).

I have a solution with multiple projects and tests.
After upgrading, al test run fine on my visualstudio on Windows.
When I commit the code and my pipeline executes them in a Linux based containerized agent, all tests fail like this:

[code]

Any idea?

Thank you

[2022-10-17 17:50] xiaomi7732 commented on #323
@EPinci, thanks for the report. By a brief look, it feels like a bug. Let me dive deeper and see what might cause the issue. At the same time, is it possible to share the failed unit test? That might help locate the issue.

Thank you again for the report.

[2022-10-17 17:52] xiaomi7732 commented on #320
Alright. Thank you for the discussion @Ian1971. I'll close this issue for now. Feel free to open new issues for further discussion.

[2022-10-17 17:52] #320 closed

[2022-10-17 19:03] EPinci commented on #323
Hey, I'm running almost plain vanilla integration tests per https://learn.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-6.0

[code]

[code]

[2022-10-17 20:59] xiaomi7732 commented on #323
Hi @EPinci, thanks for the info. I think I found the issue. Working on a fix. Will post the PR here when it is ready for review.

[2022-10-18 18:11] xiaomi7732 commented on #321
Released in 3.1.0-beta1: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/3.1.0-beta1

[2022-10-18 18:11] #321 closed

[2022-10-18 18:11] xiaomi7732 commented on #323
Released in 3.1.0-beta1: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/3.1.0-beta1.
@EPinci, do you mind giving it a try?

Thanks.

[2022-10-18 21:15] EPinci commented on #323
@xiaomi7732 This build looks good to me. Thank you!

[2022-10-18 21:37] xiaomi7732 commented on #323
I am glad to hear that. Thank you for the quick turnaround.

[2022-10-18 21:37] #323 closed

[2022-10-20 16:24] qbdev-kr opened #325 "Application Insights for Kubernetes 3.0: telemetry initializer is used but the content has not ready yet in Console Applications"
### Goal

I want to be able to see Enriched Kubernetes Info coming into App Insights

### Issue Summary
I consistently am seeing the trace,

**Application Insights for Kubernetes telemetry initializer is used but the content has not ready yet.**
![image](https://user-images.githubusercontent.com/114493252/197005241-097f3b03-8fa5-463d-8897-311067bfcbc7.png)

### What I have done
I have used https:/

[2022-10-20 16:24] qbdev-kr commented on #325
@xiaomi7732 .

[2022-10-20 16:27] qbdev-kr commented on #325
I have used [this Issue from 2019](https://github.com/microsoft/ApplicationInsights-Kubernetes/issues/187) to help me out by adding delay etc. But that has not helped me and i am also deploying to AKS.

![image](https://user-images.githubusercontent.com/114493252/197005241-097f3b03-8fa5-463d-8897-311067bfcbc7.png)

[2022-10-20 17:32] xiaomi7732 commented on #325
Hey, @qbdev-kr I'll help troubleshoot. I have several questions after reading the code, could you please help me understand them:

1. Which version of the package are you using?
2. Are you building a console application to serve HTTP calls? Does it use any kind of hosting technology like ASP.NET Core/Minimal API or Worker, or is it just a plain console application?
3. Could you please run it with

[2022-10-20 17:58] qbdev-kr commented on #325
Hi @xiaomi7732 Thank you for your fast response. I have included some info below.

1. Packages Info:
[code]

2. Building a simple console application to consume data from cosmosDB client and loading data back into CosmosDB with some changes. Using Microsoft.Azure.Cosmos for this. Does not use a hosting technology like ASP.NET core or Worker service - No. This console application is kicked off like

[2022-10-20 18:08] xiaomi7732 commented on #325
Still waiting for the log to confirm, but here's my I hunch: there's a design hole in **3.x** that we are relying on the **HostedService** to bootstrap the fetch of K8s info.

And the console application by default doesn't have a host to start the backend services - thus nothing triggers the fetch of the k8s info.

I'll do some quick checks while waiting for the logs to confirm. Thank you @qbdev-k

[2022-10-20 19:08] qbdev-kr commented on #325
@xiaomi7732  - Logs From the Pod the job is running in. The console app is executed like a cron job on demand.

Is there something specific I can look into? Will it help if I call a http end point and we see some logs that way?

PS C:\Windows\system32> kubectl -n kube-system logs -f <podname> -n cscm
W1020 14:55:40.636665    9524 azure.go:92] WARNING: the azure auth plugin is deprecated in v1.22+,

[2022-10-20 19:09] qbdev-kr commented on #325
@xiaomi7732 Would it help if I use a HostBuilder to instantiate the DI steps and run the Host Async? Is that what you meant in your earlier comment.

[2022-10-20 19:25] xiaomi7732 commented on #325
@qbdev-kv I see.

It is a bug that the background service to fetch k8s info was never bootstrapped. Let me see how to support the console application.

I see several approaches for you:
1. Downgrade to 2.0.6 and give it a shot.
1. Yes, it will help to run it in a hosted environment. Use this example, if you are okay with migrating the code to `Worker`:
    * https://github.com/microsoft/Applicatio

[2022-10-20 19:46] qbdev-kr commented on #325
@xiaomi7732 ,  Thank you for giving direction and tracking this. I have some follow up questions,

1. Downgrade to 2.0.6 for Microsoft.ApplicationInsights.Kubernetes package?
2. Will using Generic Host example help get around the current situation?
- [https://github.com/microsoft/ApplicationInsights-Kubernetes/tree/develop/examples/GenericHost](url)

[2022-10-21 04:01] xiaomi7732 opened #327 "[Investigation] Make calling into ExecuteAsync idempotent"
Tag @karolz-ms. He initiated the idea.

In the current implementation, it is undesire to call `StartApplicationInsightsKubernetesEnricher()` when hosted services exist, because it leads to duplicated call into ExecuteAsync - 1 from the background service, 1 from the explicit call of the method above.

Look into how to make `ExecuteAsync()` idempotent or find out a way to allow `ExecuteAsync()` to

[2022-10-21 04:28] xiaomi7732 commented on #325
Hey @qbdev-kr,
The fix is available now. Please follow this updated example: [Program.cs](https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/examples/BasicConsoleAppILogger/Program.cs), specifically, call `serviceProvider.StartApplicationInsightsKubernetesEnricher()` after you call `services.AddApplicationInsightsKubernetesEnricher()`.

I tested it locally and it worked for m

[2022-10-21 14:09] qbdev-kr commented on #325
@xiaomi7732 Thank you so much.

I will add this package and share the results with you.

[2022-10-21 15:55] xiaomi7732 commented on #327
Notes:
1. Lazy<Task> for ExecuteAsync() - that the task never creates a second time: The issue is cancellation token handling. Lazy<T> doesn't take in a cancellation token; To implement it, it may be a `Lazy<Func<CancellationToken, Task>>`, and then, it starts to look like an AsyncLazy library - that feels a bit heavy for this case; It is also an intention not to own tricky implementations in this

[2022-10-21 16:14] xiaomi7732 commented on #327
Another approach suggested by @karol-ms: just take a lock, considering this isn't any hot path

[code]

[2022-10-24 18:28] qbdev-kr commented on #325
Hi @xiaomi7732, Thank you so much for the suggested change. I Can confirm, after including the change below and using the [3.1.0-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/3.1.0-beta2) package
`serviceProvider.StartApplicationInsightsKubernetesEnricher()` the Enriched Kubernetes data is populating under custom Dimension.

These are the kubectl logs =>
![image](h

[2022-10-24 19:15] xiaomi7732 commented on #325
Cool. Thanks for getting back and confirming the fix. A quick thing to check is cluster role binding. See docs here: https://github.com/microsoft/ApplicationInsights-Kubernetes/blob/develop/docs/configure-rbac-permissions.md

I'll close this issue since this topic is completed. Feel free to file another issue if you would like to have another troubleshooting for replicaSet/deployment name after yo

[2022-10-24 19:15] #325 closed

[2022-10-25 18:55] #327 closed

[2022-10-25 19:31] xiaomi7732 opened #329 "Compliance: Unit test SDK depends on Newtonsoft.Json 9.0.1"
Dependency graph:

![image](https://user-images.githubusercontent.com/3674549/197864074-0a34925c-d7dd-49b0-926b-903c31da3f61.png)

It looks like an option is to bump the unit test SDK to [17.4.0-preview-20220707-01](https://www.nuget.org/packages/Microsoft.TestPlatform.TestHost/17.4.0-preview-20220707-01) or above, that will carry a version of Newtonsoft.Josn >= 13.0.0

Considering it is unit test

[2022-10-25 19:35] xiaomi7732 commented on #329
Tagging @JacobBovee , @karolz-ms too. Does either of you have any preference?

[2022-10-25 23:24] karolz-ms commented on #329
No strong preference since this is test code. Bumping the test SDK to 17.4+ might be the safest option if you decide to fix it now, as opposed to waiting.

[2022-10-27 17:06] xiaomi7732 commented on #325
Yes, it is out of beta now:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Kubernetes/3.1.0.

Just in case, we go with [semver](https://semver.org/spec/v2.0.0.html). And by the rule:  3.0.0 < 3.1.0-betaN < 3.1.0.

[2022-10-27 17:08] qbdev-kr commented on #325
@xiaomi7732, Thank you for the update and your Contribution!

[2022-11-14 18:50] #329 closed